<h2 align='center'> Cyclistic: a bike-share program </h2>

<h4 align='center'> (Part 1: Data Cleaning & Transformation) </h4>

### 1. Import libraries and datasets

In [24]:
import pandas as pd

In [25]:
bt_202004 = pd.read_csv('~/00_PROJECTS/cs_1_bike_share/original_datasets/202004-divvy-tripdata.csv')
bt_202005 = pd.read_csv('~/00_PROJECTS/cs_1_bike_share/original_datasets/202005-divvy-tripdata.csv')
bt_202006 = pd.read_csv('~/00_PROJECTS/cs_1_bike_share/original_datasets/202006-divvy-tripdata.csv')
bt_202007 = pd.read_csv('~/00_PROJECTS/cs_1_bike_share/original_datasets/202007-divvy-tripdata.csv')
bt_202008 = pd.read_csv('~/00_PROJECTS/cs_1_bike_share/original_datasets/202008-divvy-tripdata.csv')
bt_202009 = pd.read_csv('~/00_PROJECTS/cs_1_bike_share/original_datasets/202009-divvy-tripdata.csv')
bt_202010 = pd.read_csv('~/00_PROJECTS/cs_1_bike_share/original_datasets/202010-divvy-tripdata.csv')
bt_202011 = pd.read_csv('~/00_PROJECTS/cs_1_bike_share/original_datasets/202011-divvy-tripdata.csv')
bt_202012 = pd.read_csv('~/00_PROJECTS/cs_1_bike_share/original_datasets/202012-divvy-tripdata.csv')
bt_202101 = pd.read_csv('~/00_PROJECTS/cs_1_bike_share/original_datasets/202101-divvy-tripdata.csv')
bt_202102 = pd.read_csv('~/00_PROJECTS/cs_1_bike_share/original_datasets/202102-divvy-tripdata.csv')
bt_202103 = pd.read_csv('~/00_PROJECTS/cs_1_bike_share/original_datasets/202103-divvy-tripdata.csv')

### 2. Examine datasets

#### By briefly examining all 12 datasets, I've noticed these datasets have been organized in the same format of 13 columns:

| Column | This column measures |
| :---: | :---: |
| *ride_id* | unique id of each bike ride initiated |
| *rideable_type* | 3 types of bikes used by Cycslistic |
| *started_at* | start date and time of each bike ride |
| *ended_at* | end date and time of each bike ride |
| *start_station_name* | bike station name where each bike ride starts |
| *start_station_id* | bike station id where each bike ride starts |
| *end_station_name* | bike station name where each bike ride ends |
| *end_station_id* | bike station id where each bike ride ends |
| *start_lat* | latitude of bike station where each bike ride starts |
| *start_lng* | longitude of biek station where each bike ride starts |
| *end_lat* | latitude of bike station where each bike ride ends |
| *end_lng* | longitude of bike station where each bike ride ends |
| *member_casual* | whether a bike rider is a member of Cyclistic program or not |

#### For each dataset, I will perform these data cleaning and transformations:
- check the uniqueness of *ride_id*
- drop any NULL values in all columns
- check the data types of each column, and convert to the correct type if necessary
- check the consistency between *start_station_name* and *start_station_id*
- check the consistency between *end_station_name* and *end_station_id*
- drop irrelevant columns: *start_lat*, *start_lng*, *end_lat*, *end_lng*

***Note:*** 

For all 12 datasets, *started_at* and *ended_at* columns are strings, which they should be datetimes. However, I will leave them "as-is" now since my goal for this this phase of data cleaning is mainly clean out invalid data and transform data for further analysis.

#### (2-1) dataset: bike trips of April 2020

In [26]:
# drop irrelevant columns: start_lat, start_lng, end_lat, end_lng
bt_202004.drop(columns = ['start_lat', 'start_lng', 'end_lat', 'end_lng'], inplace = True)

In [27]:
bt_202004.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id        int64
end_station_name       object
end_station_id        float64
member_casual          object
dtype: object

In [28]:
# check uniqueness of ride_id
bt_202004['ride_id'].value_counts()

3B29581B6A8E22D7    1
254DD4C24562607F    1
5DDEDC7082F0AC1B    1
58BAEAEE02108723    1
EE2AD53B40C49813    1
                   ..
5C39FF732BB18737    1
209F1246CFD9954D    1
CA6A9CA9BAC086B1    1
14F9C3F22693E11B    1
B18BA06748C13F7E    1
Name: ride_id, Length: 84776, dtype: int64

In [29]:
# check NAN values
bt_202004.isna().sum()

ride_id                0
rideable_type          0
started_at             0
ended_at               0
start_station_name     0
start_station_id       0
end_station_name      99
end_station_id        99
member_casual          0
dtype: int64

In [30]:
# drop all NAN values
bt_202004.dropna(inplace = True)

In [31]:
# convert 'end_station_id' column from floating points to integers
bt_202004['end_station_id'] = bt_202004['end_station_id'].astype('int64')

#### (2-2) dataset: bike trips of May 2020

In [32]:
# drop irrelevant columns: start_lat, start_lng, end_lat, end_lng
bt_202005.drop(columns = ['start_lat', 'start_lng', 'end_lat', 'end_lng'], inplace = True)

In [33]:
bt_202005.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id        int64
end_station_name       object
end_station_id        float64
member_casual          object
dtype: object

In [34]:
# check uniqueness of ride_id
bt_202005['ride_id'].value_counts()

05F7CBF8F1AE96EE    1
AE4F2E7BD94BDCDA    1
E53ED54D6E019A3B    1
EDC233CEFDE5645B    1
EE31D242B792801E    1
                   ..
27EBC65228FDA5E1    1
E9710353E1C4050E    1
C134C7F2B9D885E4    1
1991EFC7A9EE0354    1
4B16A622D018FF0E    1
Name: ride_id, Length: 200274, dtype: int64

In [35]:
# check NAN values
bt_202005.isna().sum()

ride_id                 0
rideable_type           0
started_at              0
ended_at                0
start_station_name      0
start_station_id        0
end_station_name      321
end_station_id        321
member_casual           0
dtype: int64

In [36]:
# drop all NAN values
bt_202005.dropna(inplace = True)

In [37]:
# convert 'end_station_id' from floating points to integers
bt_202005['end_station_id'] = bt_202005['end_station_id'].astype('int64')

#### (2-3) dataset: bike trips of June 2020

In [38]:
# drop irrelevant columns: start_lat, start_lng, end_lat, end_lng
bt_202006.drop(columns = ['start_lat', 'start_lng', 'end_lat', 'end_lng'], inplace = True)

In [39]:
bt_202006.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id        int64
end_station_name       object
end_station_id        float64
member_casual          object
dtype: object

In [40]:
# check uniqueness of ride_id
bt_202006['ride_id'].value_counts()

8FC0355E34E7065F    1
6A8F40C6BC26359A    1
83E82456A919A137    1
AD560791BC9E8F38    1
9E5E9FC42591D4C3    1
                   ..
A28CD736BFCA746D    1
6A4A6B787F6AA658    1
4F6D4ADC9A069430    1
FAA6C57FC25D7774    1
E8F6E04B8CD0427B    1
Name: ride_id, Length: 343005, dtype: int64

In [41]:
# check NAN values
bt_202006.isna().sum()

ride_id                 0
rideable_type           0
started_at              0
ended_at                0
start_station_name      0
start_station_id        0
end_station_name      468
end_station_id        468
member_casual           0
dtype: int64

In [42]:
# drop all NAN values
bt_202006.dropna(inplace = True)

In [43]:
# convert 'end_station_id' from floating points to integers
bt_202006['end_station_id'] = bt_202006['end_station_id'].astype('int64')

#### (2-4) dataset: bike trips of July 2020

In [44]:
# drop irrelevant columns: start_lat, start_lng, end_lat, end_lng
bt_202007.drop(columns = ['start_lat', 'start_lng', 'end_lat', 'end_lng'], inplace = True)

In [45]:
bt_202007.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id      float64
end_station_name       object
end_station_id        float64
member_casual          object
dtype: object

In [47]:
# check uniqueness of ride_id
bt_202007['ride_id'].value_counts()

0A8B25EB2325A6FF    1
9C4B6216FA1C7058    1
5259E6AC97F8A139    1
816F8FF2DAB9C725    1
FF25AF298D743EC3    1
                   ..
B61A3513B5E1D17D    1
DFBB3AD67B7616EF    1
6B3A869605F486B2    1
5210E53EC149364B    1
53E088D20851A580    1
Name: ride_id, Length: 551480, dtype: int64

In [48]:
# check NAN values
bt_202007.isna().sum()

ride_id                 0
rideable_type           0
started_at              0
ended_at                0
start_station_name    149
start_station_id      152
end_station_name      967
end_station_id        969
member_casual           0
dtype: int64

In [49]:
# drop all NAN values
bt_202007.dropna(inplace = True)

In [50]:
# convert 'start_station_id' column from floating points to integers
bt_202007['start_station_id'] = bt_202007['start_station_id'].astype('int64')

# convert 'end_station_id' column from floating points to integers
bt_202007['end_station_id'] = bt_202007['end_station_id'].astype('int64')

#### (2-5) dataset: bike trips of August 2020

In [51]:
# drop irrelevant columns: start_lat, start_lng, end_lat, end_lng
bt_202008.drop(columns = ['start_lat', 'start_lng', 'end_lat', 'end_lng'], inplace = True)

In [52]:
bt_202008.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id      float64
end_station_name       object
end_station_id        float64
member_casual          object
dtype: object

In [53]:
# check uniqueness of ride_id
bt_202008['ride_id'].value_counts()

356C6D12A5DE6667    1
77D7AF2B31975C07    1
DDB42AC4C2BAD0F6    1
6D2CF8D849742907    1
B298AF4329038565    1
                   ..
B2B8BFE00069054D    1
6B685935C6FBC415    1
8F540CED4F804177    1
9CCE497F921F47B2    1
586B6943345703FB    1
Name: ride_id, Length: 622361, dtype: int64

In [54]:
# check NAN values
bt_202008.isna().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name     7595
start_station_id       7691
end_station_name      10035
end_station_id        10110
member_casual             0
dtype: int64

In [55]:
# drop all NAN values
bt_202008.dropna(inplace = True)

In [56]:
# convert 'start_station_id' column from floating points to integers
bt_202008['start_station_id'] = bt_202008['start_station_id'].astype('int64')

# convert 'end_station_id' column from floating points to integers
bt_202008['end_station_id'] = bt_202008['end_station_id'].astype('int64')

#### (2-6) dataset: bike trips of September 2020

In [57]:
# drop irrelevant columns: start_lat, start_lng, end_lat, end_lng
bt_202009.drop(columns = ['start_lat', 'start_lng', 'end_lat', 'end_lng'], inplace = True)

In [58]:
bt_202009.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id      float64
end_station_name       object
end_station_id        float64
member_casual          object
dtype: object

In [59]:
# check uniqueness of ride_id
bt_202009['ride_id'].value_counts()

ECFEE9CD3210340E    1
7A8867D93C672321    1
204A18305387A124    1
34F87B1FE33DA7AA    1
5FC9324DDE507C4B    1
                   ..
1CBA4C93D8724201    1
74D7F5F5863E5A76    1
E6D00197CB654A30    1
09CD8336846C8AC1    1
97B1B01817B328F4    1
Name: ride_id, Length: 532958, dtype: int64

In [60]:
# check NAN values
bt_202009.isna().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name    19691
start_station_id      19901
end_station_name      23373
end_station_id        23524
member_casual             0
dtype: int64

In [61]:
# drop all NAN values
bt_202009.dropna(inplace = True)

In [62]:
# convert 'start_station_id' column from floating points to integers
bt_202009['start_station_id'] = bt_202009['start_station_id'].astype('int64')

# convert 'end_station_id' column from floating points to integers
bt_202009['end_station_id'] = bt_202009['end_station_id'].astype('int64')

#### (2-7) dataset: bike trips of October 2020

In [63]:
# drop irrelevant columns: start_lat, start_lng, end_lat, end_lng
bt_202010.drop(columns = ['start_lat', 'start_lng', 'end_lat', 'end_lng'], inplace = True)

In [64]:
bt_202010.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id      float64
end_station_name       object
end_station_id        float64
member_casual          object
dtype: object

In [65]:
# check uniqueness of ride_id
bt_202010['ride_id'].value_counts()

426CFA980BB3B171    1
04855A2A4FF49181    1
77FDB517BD89F627    1
57C26A779E12EE3D    1
6E738B8E44293A0E    1
                   ..
53A638592958C154    1
1F07222CFA75CE8B    1
EB042395D2E60CCA    1
FC94AA5A5B472D31    1
F337C8153E986CF6    1
Name: ride_id, Length: 388653, dtype: int64

In [66]:
# check NAN values
bt_202010.isna().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name    31198
start_station_id      31405
end_station_name      35631
end_station_id        35787
member_casual             0
dtype: int64

In [67]:
# drop all NAN values
bt_202010.dropna(inplace = True)

In [68]:
# convert 'start_station_id' column from floating points to integers
bt_202010['start_station_id'] = bt_202010['start_station_id'].astype('int64')

# convert 'end_station_id' column from floating points to integers
bt_202010['end_station_id'] = bt_202010['end_station_id'].astype('int64')

#### (2-8) dataset: bike trips of November 2020

In [69]:
# drop irrelevant columns: start_lat, start_lng, end_lat, end_lng
bt_202011.drop(columns = ['start_lat', 'start_lng', 'end_lat', 'end_lng'], inplace = True)

In [70]:
bt_202011.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id      float64
end_station_name       object
end_station_id        float64
member_casual          object
dtype: object

In [71]:
# check uniqueness of ride_id
bt_202011['ride_id'].value_counts()

ED10AD3C433F81DA    1
FB4EDA636DB4D016    1
F9BA33DBF1C2961F    1
CD378DC0CBB47892    1
A9D7F21606FD8222    1
                   ..
3FD50A3945786ED5    1
B95D606337D3B665    1
CF50014060A1768B    1
B55EDA92B1054F21    1
E8E40842A9358AF6    1
Name: ride_id, Length: 259716, dtype: int64

In [72]:
# check NAN values
bt_202011.isna().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name    24324
start_station_id      24434
end_station_name      26749
end_station_id        26826
member_casual             0
dtype: int64

In [73]:
# drop all NAN values
bt_202011.dropna(inplace = True)

In [74]:
# convert 'start_station_id' column from floating points to integers
bt_202011['start_station_id'] = bt_202011['start_station_id'].astype('int64')

# convert 'end_station_id' column from floating points to integers
bt_202011['end_station_id'] = bt_202011['end_station_id'].astype('int64')

#### (2-9) dataset: bike trips of December 2020

In [75]:
# drop irrelevant columns: start_lat, start_lng, end_lat, end_lng
bt_202012.drop(columns = ['start_lat', 'start_lng', 'end_lat', 'end_lng'], inplace = True)

In [76]:
bt_202012.dtypes

ride_id               object
rideable_type         object
started_at            object
ended_at              object
start_station_name    object
start_station_id      object
end_station_name      object
end_station_id        object
member_casual         object
dtype: object

In [77]:
# check uniqueness of ride_id
bt_202012['ride_id'].value_counts()

2DCC089ACBBFD3E5    1
79107F35C888BF20    1
E0DFBD3C02669A97    1
3207B6B424C30BDF    1
2EC8D24B1ADD9C15    1
                   ..
DFCE1D9244AF1D59    1
8A38DCB66EA1CF3A    1
073506D22B9368D9    1
B6185AC3C44BFFA5    1
80410E0079887CF3    1
Name: ride_id, Length: 131573, dtype: int64

In [78]:
# check NAN values
bt_202012.isna().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name    11699
start_station_id      11699
end_station_name      13237
end_station_id        13237
member_casual             0
dtype: int64

In [79]:
# drop all NAN values
bt_202012.dropna(inplace = True)

***Note:***

After examining *start_station_id* and *end_station_id* in this dataset, I found an inconsistency issue between station ids and their corresponding names:
- for example, if a start or end station's name is "Rhodes Ave & 32nd St", then its corresponding id is 263 in all previous nine datasets; However, in this dataset it is associated with id 13215. 

Therefore, I will re-validate the correct ids from cross-referecing all previous datasets, and then cast these two columns into integer datatype.

In [80]:
# get all pairs of station names and ids from previous 8 datasets

station_id = dict(zip(bt_202004['start_station_name'], bt_202004['start_station_id']))
station_id.update(zip(bt_202004['end_station_name'], bt_202004['end_station_id']))

station_id.update(zip(bt_202005['start_station_name'], bt_202005['start_station_id']))
station_id.update(zip(bt_202005['end_station_name'], bt_202005['end_station_id']))

station_id.update(zip(bt_202006['start_station_name'], bt_202006['start_station_id']))
station_id.update(zip(bt_202006['end_station_name'], bt_202006['end_station_id']))

station_id.update(zip(bt_202007['start_station_name'], bt_202007['start_station_id']))
station_id.update(zip(bt_202007['end_station_name'], bt_202007['end_station_id']))

station_id.update(zip(bt_202008['start_station_name'], bt_202008['start_station_id']))
station_id.update(zip(bt_202008['end_station_name'], bt_202005['end_station_id']))

station_id.update(zip(bt_202009['start_station_name'], bt_202009['start_station_id']))
station_id.update(zip(bt_202009['end_station_name'], bt_202009['end_station_id']))

station_id.update(zip(bt_202010['start_station_name'], bt_202010['start_station_id']))
station_id.update(zip(bt_202010['end_station_name'], bt_202010['end_station_id']))

station_id.update(zip(bt_202011['start_station_name'], bt_202011['start_station_id']))
station_id.update(zip(bt_202011['end_station_name'], bt_202011['end_station_id']))

#### I will create a function 'correct_station_name_id' to grab all start station names and end station names from the input dataframe, and determine if each station's name appears in *station_id* dictionary:
- if it does exist, update its corresponding id from the input dataframe to the correct one;
- if it does not exist, mark the station's name in a list 'not_changed' for further cleaning.

In [87]:
not_changed = []

def correct_station_name_id(dataframe):
    start_station_names = set(dataframe['start_station_name'])
    end_station_names = set(dataframe['end_station_name'])
    
    # correct start_station_ids in the dataset
    for name in start_station_names:
        if name not in station_id.keys():
            not_changed.append(name) # catch exceptions in case any station name haven't appeared in previous 8 datasets
        else:
            dataframe.loc[dataframe['start_station_name'] == name, 'start_station_id'] = station_id[name]
    
    # correct end_station_ids in the dataset
    for name in end_station_names:
        if name in not_changed:
            continue
        elif name not in station_id.keys():
            not_changed.append(name) # catch exceptions in case any station name haven't appeared in previous 8 datasets
        else:
            dataframe.loc[dataframe['end_station_name'] == name, 'end_station_id'] = station_id[name]
    
    print('These stations below are not existed in the previous 8 datasets:')
    return not_changed

In [88]:
# update stations' ids in bt_202012 and catch stations that're not existed from previous 8 datasets
correct_station_name_id(bt_202012)

These stations below are not existed in the previous 8 datasets:

['W Oakdale Ave & N Broadway',
 'W Armitage Ave & N Sheffield Ave',
 'N Green St & W Lake St',
 'Base - 2132 W Hubbard Warehouse',
 'N Carpenter St & W Lake St']

#### As showed above, 5 station names were caught as exceptions in *not_changed*. 

#### Therefore, I've found the official dataset of all Divvy Bicycle Stations at <a href="https://data.cityofchicago.org/d/bbyy-e7gq?category=Transportation&view_name=Divvy-Bicycle-Stations"> here </a> on <a href="httP://data.cityofchicago.org"> The Chicago Data Portal website. </a></href>
- I will download this dataset and import it below as the official reference to get the correct station names and/or corresponding ids.</h4>

In [83]:
# import the official bike stations information dataset
official_station_info = pd.read_csv('~/00_PROJECTS/cs_1_bike_share/original_datasets/official_bike_stations_info.csv')

# get the station name and id in pairs from the official station information dataset
official_station_name_id = dict(zip(official_station_info['Station Name'], official_station_info['ID']))

#### I will create a function 'get_correct_id' to get the correct id of each station from *official_station_name_id* which is not existed in the previous 8 datasets:
- if it does exist, print out the station name and its corresponding id;
- if it does not exist, print out the station name.

In [90]:
def get_correct_id():
    cannot_find_this_station = []
    for name in not_changed:
        if name not in official_station_name_id.keys():
            if name not in cannot_find_this_station:
                cannot_find_this_station.append(name)
        else:
            correct_id = official_station_name_id[name]
            print(name, ': ', correct_id)
            print()
    
    print('These stations below cannot be found in the official stations information dataset:')
    return cannot_find_this_station

In [91]:
# get the correct ids of stations in not_changed
get_correct_id()

W Oakdale Ave & N Broadway :  1436495100903691938

W Armitage Ave & N Sheffield Ave :  1436495105198659242

N Green St & W Lake St :  1436495109493626546

N Carpenter St & W Lake St :  1436495105198659246

These stations below cannot be found in the official stations information dataset:

['Base - 2132 W Hubbard Warehouse']

***Note:*** 

The station "Base - 2132 W Hubbard Warehouse" cannot be found in the official station information dataset. Due to lack of information, I will drop these records.

In [92]:
# drop records with start_station_name as 'Base - 2132 W Hubbard Warehouse'
bt_202012.drop(bt_202012[bt_202012['start_station_name'] == 'Base - 2132 W Hubbard Warehouse'].index, 
               inplace = True)

# drop records with end_station_name as 'Base - 2132 W Hubbard Warehouse'
bt_202012.drop(bt_202012[bt_202012['end_station_name'] == 'Base - 2132 W Hubbard Warehouse'].index, 
               inplace = True)

***Note:***

For the other 4 stations, I will manually update the ids in bt_202012 </h4>

In [93]:
# update station's id with name of 'N Green St & W Lake St'
filt_a1 = (bt_202012['start_station_name'] == 'N Green St & W Lake St')
bt_202012.loc[filt_a1, 'start_station_id'] = 1436495109493626546

filt_a2 = (bt_202012['end_station_name'] == 'N Green St & W Lake St')
bt_202012.loc[filt_a2, 'end_station_id'] = 1436495109493626546

In [94]:
# update station's id with name of 'W Oakdale Ave & N Broadway'
filt_b1 = (bt_202012['start_station_name'] == 'W Oakdale Ave & N Broadway')
bt_202012.loc[filt_b1, 'start_station_id'] = 1436495100903691938

filt_b2 = (bt_202012['end_station_name'] == 'W Oakdale Ave & N Broadway')
bt_202012.loc[filt_b2, 'end_station_id'] = 1436495100903691938

In [95]:
# update station's id with name of 'W Armitage Ave & N Sheffield Ave'
filt_c1 = (bt_202012['start_station_name'] == 'W Armitage Ave & N Sheffield Ave')
bt_202012.loc[filt_c1, 'start_station_id'] = 1436495105198659242

filt_c2 = (bt_202012['end_station_name'] == 'W Armitage Ave & N Sheffield Ave')
bt_202012.loc[filt_c2, 'end_station_id'] = 1436495105198659242

In [96]:
# update station's id with name of 'N Carpenter St & W Lake St'
filt_d1 = (bt_202012['start_station_name'] == 'N Carpenter St & W Lake St')
bt_202012.loc[filt_d1, 'start_station_id'] = 1436495105198659246

filt_d2 = (bt_202012['end_station_name'] == 'N Carpenter St & W Lake St')
bt_202012.loc[filt_d2, 'end_station_id'] = 1436495105198659246

#### (2-10) dataset: bike trips of January 2021

In [97]:
# drop irrelevant columns: start_lat, start_lng, end_lat, end_lng
bt_202101.drop(columns = ['start_lat', 'start_lng', 'end_lat', 'end_lng'], inplace = True)

In [98]:
bt_202101.dtypes

ride_id               object
rideable_type         object
started_at            object
ended_at              object
start_station_name    object
start_station_id      object
end_station_name      object
end_station_id        object
member_casual         object
dtype: object

In [99]:
# check uniqueness of ride_id
bt_202101['ride_id'].value_counts()

F2BB47DB0127959C    1
3F9F2E978B9CC6DE    1
170AB2BD41896419    1
C7E6F8521AF3D6E7    1
229CD16AF3911E67    1
                   ..
6F2C5A9AC50190B3    1
9676B2C516016DBF    1
50F2FCFADE8B80B7    1
EFD410E589F38E1A    1
972DE641A97AF722    1
Name: ride_id, Length: 96834, dtype: int64

In [100]:
# check NAN values
bt_202101.isna().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name     8625
start_station_id       8625
end_station_name      10277
end_station_id        10277
member_casual             0
dtype: int64

In [101]:
# drop all NAN values
bt_202101.dropna(inplace = True)

#### After examining *start_station_id* and *end_station_id* in this dataset, I found the same inconsistency issue between station ids and their corresponding names as before. 
    
#### Therefore, I will re-run the whole process of validating station names with corresponding ids using:
- the official stations information dataset from Chicago Data Portal website;
- the dictionary "station_id" of all stations and ids existed in the previous 8 datasets;
- the function "correct_station_name_id" to either update ids or catch exceptions;
- the function "get_correct_id" to grab the correct ids for exceptions.

In [102]:
# reset the not_changed list to empty
not_changed = []

# update stations' ids in bt_202101 or catch stations that're not existed from previous 8 datasets
correct_station_name_id(bt_202101)

These stations below are not existed in the previous 8 datasets:

['W Oakdale Ave & N Broadway',
 'Broadway & Wilson - Truman College Vaccination Site',
 'N Sheffield Ave & W Wellington Ave',
 'N Paulina St & Lincoln Ave',
 'W Armitage Ave & N Sheffield Ave',
 'Malcolm X College Vaccination Site',
 'N Southport Ave & W Newport Ave',
 'N Green St & W Lake St',
 'Base - 2132 W Hubbard Warehouse',
 'Western & 28th - Velasquez Institute Vaccination Site',
 'Avenue L & 114th St',
 'N Damen Ave & W Wabansia St',
 'N Carpenter St & W Lake St',
 'W Washington Blvd & N Peoria St']

In [103]:
# get the correct ids of exceptional stations in list not_changed
get_correct_id()

W Oakdale Ave & N Broadway :  1436495100903691938

Broadway & Wilson - Truman College Vaccination Site :  293

N Sheffield Ave & W Wellington Ave :  1436495118083561146

N Paulina St & Lincoln Ave :  1436495122378528446

W Armitage Ave & N Sheffield Ave :  1436495105198659242

Malcolm X College Vaccination Site :  631

N Southport Ave & W Newport Ave :  1436495115557663136

N Green St & W Lake St :  1436495109493626546

Western & 28th - Velasquez Institute Vaccination Site :  446

Avenue L & 114th St :  1448642175142467184

N Carpenter St & W Lake St :  1436495105198659246

W Washington Blvd & N Peoria St :  1436495109493626544

These stations below cannot be found in the official stations information dataset:

['Base - 2132 W Hubbard Warehouse', 'N Damen Ave & W Wabansia St']

***Note:***

The stations 'Base - 2132 W Hubbard Warehouse' and 'N Damen Ave & W Wabansia St' cannot be found in the official station information dataset. Due to lack of information, I will drop these records.

In [104]:
# drop records with start_station_name as 'Base - 2132 W Hubbard Warehouse'
bt_202101.drop(bt_202101[bt_202101['start_station_name'] == 'Base - 2132 W Hubbard Warehouse'].index, 
               inplace=True)

# drop records with end_station_name as 'Base - 2132 W Hubbard Warehouse'
bt_202101.drop(bt_202101[bt_202101['end_station_name'] == 'Base - 2132 W Hubbard Warehouse'].index, 
               inplace=True)

# drop records with start_station_name as 'N Damen Ave & W Wabansia St'
bt_202101.drop(bt_202101[bt_202101['start_station_name'] == 'N Damen Ave & W Wabansia St'].index, 
               inplace=True)

# drop records with end_station_name as 'N Damen Ave & W Wabansia St'
bt_202101.drop(bt_202101[bt_202101['end_station_name'] == 'N Damen Ave & W Wabansia St'].index, 
               inplace=True)

***Note:***

For the other 12 stations, I will manually update the ids in bt_202101 </h4>

In [105]:
# update station's id with name of 'Malcolm X College Vaccination Site'
filt_a1 = (bt_202101['start_station_name'] == 'Malcolm X College Vaccination Site')
bt_202101.loc[filt_a1, 'start_station_id'] = 631

filt_a2 = (bt_202101['end_station_name'] == 'Malcolm X College Vaccination Site')
bt_202101.loc[filt_a2, 'end_station_id'] = 631

In [106]:
# update station's id with name of 'N Southport Ave & W Newport Ave'
filt_b1 = (bt_202101['start_station_name'] == 'N Southport Ave & W Newport Ave')
bt_202101.loc[filt_b1, 'start_station_id'] = 1436495115557663136

filt_b2 = (bt_202101['end_station_name'] == 'N Southport Ave & W Newport Ave')
bt_202101.loc[filt_b2, 'end_station_id'] = 1436495115557663136

In [107]:
# update station's id with name of 'N Sheffield Ave & W Wellington Ave'
filt_c1 = (bt_202101['start_station_name'] == 'N Sheffield Ave & W Wellington Ave')
bt_202101.loc[filt_c1, 'start_station_id'] = 1436495118083561146

filt_c2 = (bt_202101['end_station_name'] == 'N Sheffield Ave & W Wellington Ave')
bt_202101.loc[filt_c2, 'end_station_id'] = 1436495115557663136

In [108]:
# update station's id with name of 'N Paulina St & Lincoln Ave'
filt_d1 = (bt_202101['start_station_name'] == 'N Paulina St & Lincoln Ave')
bt_202101.loc[filt_d1, 'start_station_id'] = 1436495122378528446

In [109]:
# update station's id with name of 'N Green St & W Lake St'
filt_e1 = (bt_202101['start_station_name'] == 'N Green St & W Lake St')
bt_202101.loc[filt_e1, 'start_station_id'] = 1436495109493626546

filt_e2 = (bt_202101['end_station_name'] == 'N Green St & W Lake St')
bt_202101.loc[filt_e2, 'end_station_id'] = 1436495109493626546

In [110]:
# update station's id with name of 'W Oakdale Ave & N Broadway'
filt_f1 = (bt_202101['start_station_name'] == 'W Oakdale Ave & N Broadway')
bt_202101.loc[filt_f1, 'start_station_id'] = 1436495100903691938

filt_f2 = (bt_202101['end_station_name'] == 'W Oakdale Ave & N Broadway')
bt_202101.loc[filt_f2, 'end_station_id'] = 1436495100903691938

In [111]:
# update station's id with name of 'W Armitage Ave & N Sheffield Ave'
filt_g1 = (bt_202101['start_station_name'] == 'W Armitage Ave & N Sheffield Ave')
bt_202101.loc[filt_g1, 'start_station_id'] = 1436495105198659242

filt_g2 = (bt_202101['end_station_name'] == 'W Armitage Ave & N Sheffield Ave')
bt_202101.loc[filt_g2, 'end_station_id'] = 1436495105198659242

In [112]:
# update station's id with name of 'Broadway & Wilson - Truman College Vaccination Site'
filt_h1 = (bt_202101['start_station_name'] == 'Broadway & Wilson - Truman College Vaccination Site')
bt_202101.loc[filt_h1, 'start_station_id'] = 293

filt_h2 = (bt_202101['end_station_name'] == 'Broadway & Wilson - Truman College Vaccination Site')
bt_202101.loc[filt_h2, 'end_station_id'] = 293

In [113]:
# update station's id with name of 'N Carpenter St & W Lake St'
filt_i1 = (bt_202101['end_station_name'] == 'N Carpenter St & W Lake St')
bt_202101.loc[filt_i1, 'end_station_id'] = 1436495105198659246

In [114]:
# update station's id with name of 'Western & 28th - Velasquez Institute Vaccination Site'
filt_j1 = (bt_202101['end_station_name'] == 'Western & 28th - Velasquez Institute Vaccination Site')
bt_202101.loc[filt_j1, 'end_station_id'] = 446

In [115]:
# update station's id with name of 'W Washington Blvd & N Peoria St'
filt_k1 = (bt_202101['end_station_name'] == 'W Washington Blvd & N Peoria St')
bt_202101.loc[filt_k1, 'end_station_id'] = 1436495109493626544

In [116]:
# update station's id with name of 'Avenue L & 114th St'
filt_l1 = (bt_202101['end_station_name'] == 'Avenue L & 114th St')
bt_202101.loc[filt_l1, 'end_station_id'] = 1448642175142467184

#### (2-11) dataset: bike trips of Feburary 2021

In [117]:
# drop irrelevant columns: start_lat, start_lng, end_lat, end_lng
bt_202102.drop(columns = ['start_lat', 'start_lng', 'end_lat', 'end_lng'], inplace = True)

In [118]:
bt_202102.dtypes

ride_id               object
rideable_type         object
started_at            object
ended_at              object
start_station_name    object
start_station_id      object
end_station_name      object
end_station_id        object
member_casual         object
dtype: object

In [119]:
# check uniqueness of ride_id
bt_202102['ride_id'].value_counts()

ED0DEAF2E89D4558    1
80EE3772AF4547CE    1
BCE8B264129DD466    1
5929FB3F5EE6541C    1
E005A9CE8BBF5D38    1
                   ..
803C19A94B1D397D    1
A40FCD5F473F9B38    1
D2A92973B310228C    1
45647EA04B2B3DF4    1
6B7A058608B5A06A    1
Name: ride_id, Length: 49622, dtype: int64

In [120]:
# check NAN values
bt_202102.isna().sum()

ride_id                  0
rideable_type            0
started_at               0
ended_at                 0
start_station_name    4046
start_station_id      4046
end_station_name      5358
end_station_id        5358
member_casual            0
dtype: int64

In [121]:
# drop all NAN values
bt_202102.dropna(inplace = True)

#### After examining *start_station_id* and *end_station_id* in this dataset, I found the same inconsistency issue between station ids and their corresponding names as before. 
    
#### Therefore, I will re-run the whole process of validating station names with corresponding ids using:
- the official stations information dataset from Chicago Data Portal website;
- the dictionary "station_id" of all stations and ids existed in the previous 8 datasets;
- the function "correct_station_name_id" to either update ids or catch exceptions;
- the function "get_correct_id" to grab the correct ids for exceptions.

In [122]:
# reset the not_changed list to empty
not_changed = []

# update stations' ids in bt_202102 or catch stations that're not existed from previous 8 datasets
correct_station_name_id(bt_202102)

These stations below are not existed in the previous 8 datasets:

['W Oakdale Ave & N Broadway',
 'Broadway & Wilson - Truman College Vaccination Site',
 'N Paulina St & Lincoln Ave',
 'W Armitage Ave & N Sheffield Ave',
 'Malcolm X College Vaccination Site',
 'W Washington Blvd & N Peoria St',
 'Base - 2132 W Hubbard Warehouse',
 'Western & 28th - Velasquez Institute Vaccination Site',
 'N Sheffield Ave & W Wellington Ave',
 'N Hampden Ct & W Diversey Ave',
 'N Carpenter St & W Lake St',
 'N Green St & W Lake St']

In [123]:
# get the correct ids of exceptional stations in list not_changed
get_correct_id()

W Oakdale Ave & N Broadway :  1436495100903691938

Broadway & Wilson - Truman College Vaccination Site :  293

N Paulina St & Lincoln Ave :  1436495122378528446

W Armitage Ave & N Sheffield Ave :  1436495105198659242

Malcolm X College Vaccination Site :  631

W Washington Blvd & N Peoria St :  1436495109493626544

Western & 28th - Velasquez Institute Vaccination Site :  446

N Sheffield Ave & W Wellington Ave :  1436495118083561146

N Carpenter St & W Lake St :  1436495105198659246

N Green St & W Lake St :  1436495109493626546

These stations below cannot be found in the official stations information dataset:

['Base - 2132 W Hubbard Warehouse', 'N Hampden Ct & W Diversey Ave']

***Note:***

The stations 'Base - 2132 W Hubbard Warehouse' and 'N Hampden Ct & W Diversey Ave' cannot be found in the official station information dataset. Due to lack of information, I will drop these records.

In [124]:
# drop records with start_station_name as 'Base - 2132 W Hubbard Warehouse'
bt_202102.drop(bt_202102[bt_202102['start_station_name'] == 'Base - 2132 W Hubbard Warehouse'].index, 
               inplace=True)

# drop records with end_station_name as 'Base - 2132 W Hubbard Warehouse'
bt_202102.drop(bt_202102[bt_202102['end_station_name'] == 'Base - 2132 W Hubbard Warehouse'].index, 
               inplace=True)

# drop records with start_station_name as 'N Hampden Ct & W Diversey Ave'
bt_202102.drop(bt_202102[bt_202102['start_station_name'] == 'N Hampden Ct & W Diversey Ave'].index, 
               inplace=True)

# drop records with end_station_name as 'N Hampden Ct & W Diversey Ave'
bt_202102.drop(bt_202102[bt_202102['end_station_name'] == 'N Hampden Ct & W Diversey Ave'].index, 
               inplace=True)

***Note:***

For the other 10 stations, I will manually update the ids in bt_202102

In [125]:
# update station's id with name of 'Malcolm X College Vaccination Site'
filt_a1 = (bt_202102['start_station_name'] == 'Malcolm X College Vaccination Site')
bt_202102.loc[filt_a1, 'start_station_id'] = 631

filt_a2 = (bt_202102['end_station_name'] == 'Malcolm X College Vaccination Site')
bt_202102.loc[filt_a2, 'end_station_id'] = 631

In [126]:
# update station's id with name of 'N Paulina St & Lincoln Ave'
filt_b1 = (bt_202102['start_station_name'] == 'N Paulina St & Lincoln Ave')
bt_202102.loc[filt_b1, 'start_station_id'] = 1436495122378528446

filt_b2 = (bt_202102['end_station_name'] == 'N Paulina St & Lincoln Ave')
bt_202102.loc[filt_b2, 'end_station_id'] = 1436495122378528446

In [127]:
# update station's id with name of 'W Oakdale Ave & N Broadway'
filt_c1 = (bt_202102['start_station_name'] == 'W Oakdale Ave & N Broadway')
bt_202102.loc[filt_c1, 'start_station_id'] = 1436495100903691938

filt_c2 = (bt_202102['end_station_name'] == 'W Oakdale Ave & N Broadway')
bt_202102.loc[filt_c2, 'end_station_id'] = 1436495100903691938

In [128]:
# update station's id with name of 'W Washington Blvd & N Peoria St'
filt_d1 = (bt_202102['start_station_name'] == 'W Washington Blvd & N Peoria St')
bt_202102.loc[filt_d1, 'start_station_id'] = 1436495109493626544

filt_d2 = (bt_202102['end_station_name'] == 'W Washington Blvd & N Peoria St')
bt_202102.loc[filt_d2, 'end_station_id'] = 1436495109493626544

In [129]:
# update station's id with name of 'W Armitage Ave & N Sheffield Ave'
filt_e1 = (bt_202102['start_station_name'] == 'W Armitage Ave & N Sheffield Ave')
bt_202102.loc[filt_e1, 'start_station_id'] = 1436495105198659242

filt_e2 = (bt_202102['end_station_name'] == 'W Armitage Ave & N Sheffield Ave')
bt_202102.loc[filt_e2, 'end_station_id'] = 1436495105198659242

In [130]:
# update station's id with name of 'Broadway & Wilson - Truman College Vaccination Site'
filt_f1 = (bt_202102['start_station_name'] == 'Broadway & Wilson - Truman College Vaccination Site')
bt_202102.loc[filt_f1, 'start_station_id'] = 293

filt_f2 = (bt_202102['end_station_name'] == 'Broadway & Wilson - Truman College Vaccination Site')
bt_202102.loc[filt_f2, 'end_station_id'] = 293

In [131]:
# update station's id with name of 'N Carpenter St & W Lake St'
filt_g1 = (bt_202102['end_station_name'] == 'N Carpenter St & W Lake St')
bt_202102.loc[filt_g1, 'end_station_id'] = 1436495105198659246

In [132]:
# update station's id with name of 'Western & 28th - Velasquez Institute Vaccination Site'
filt_h1 = (bt_202102['end_station_name'] == 'Western & 28th - Velasquez Institute Vaccination Site')
bt_202102.loc[filt_h1, 'end_station_id'] = 446

In [133]:
# update station's id with name of 'N Sheffield Ave & W Wellington Ave'
filt_i1 = (bt_202102['end_station_name'] == 'N Sheffield Ave & W Wellington Ave')
bt_202102.loc[filt_i1, 'end_station_id'] = 1436495118083561146

In [134]:
# update station's id with name of 'N Green St & W Lake St'
filt_j1 = (bt_202102['end_station_name'] == 'N Green St & W Lake St')
bt_202102.loc[filt_j1, 'end_station_id'] = 1436495109493626546

#### (2-12) dataset: bike trips of March 2021

In [135]:
# drop irrelevant columns: start_lat, start_lng, end_lat, end_lng
bt_202103.drop(columns = ['start_lat', 'start_lng', 'end_lat', 'end_lng'], inplace = True)

In [136]:
bt_202103.dtypes

ride_id               object
rideable_type         object
started_at            object
ended_at              object
start_station_name    object
start_station_id      object
end_station_name      object
end_station_id        object
member_casual         object
dtype: object

In [137]:
# check uniqueness of ride_id
bt_202103['ride_id'].value_counts()

AD650BD37EA593D4    1
9C150CE68C86E51A    1
2F6DF1E344588326    1
FC05D6F3AD21A924    1
2DC9DA367EE582BB    1
                   ..
3F257A750F4D42CC    1
C2654F732DA90EBF    1
2E786D9EE8E18B7F    1
6AB2271D62DAD733    1
33F384EB8A9EF698    1
Name: ride_id, Length: 228496, dtype: int64

In [138]:
# check NAN values
bt_202103.isna().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name    14848
start_station_id      14848
end_station_name      16727
end_station_id        16727
member_casual             0
dtype: int64

In [139]:
# drop all NAN values
bt_202103.dropna(inplace = True)

#### After examining *start_station_id* and *end_station_id* in this dataset, I found the same inconsistency issue between station ids and their corresponding names as before. 
    
#### Therefore, I will re-run the whole process of validating station names with corresponding ids using:
- the official stations information dataset from Chicago Data Portal website;
- the dictionary "station_id" of all stations and ids existed in the previous 8 datasets;
- the function "correct_station_name_id" to either update ids or catch exceptions;
- the function "get_correct_id" to grab the correct ids for exceptions.

In [140]:
# reset the not_changed list to empty
not_changed = []

# update stations' ids in bt_202103 or catch stations that're not existed from previous 8 datasets
correct_station_name_id(bt_202103)

These stations below are not existed in the previous 8 datasets:

['W Oakdale Ave & N Broadway',
 'Broadway & Wilson - Truman College Vaccination Site',
 'Western & 28th - Velasquez Institute Vaccination Site',
 'N Sheffield Ave & W Wellington Ave',
 'N Paulina St & Lincoln Ave',
 'N Hampden Ct & W Diversey Ave',
 'W Armitage Ave & N Sheffield Ave',
 'Malcolm X College Vaccination Site',
 'Kedzie Ave & 110th St',
 'N Carpenter St & W Lake St',
 'N Southport Ave & W Newport Ave',
 'Damen Ave & Wabansia Ave',
 'N Green St & W Lake St',
 'W Washington Blvd & N Peoria St',
 'Base - 2132 W Hubbard Warehouse',
 'Chicago State University',
 'Halsted & 63rd - Kennedy-King Vaccination Site',
 'N Damen Ave & W Wabansia St']

In [141]:
# get the correct ids of exceptional stations in list not_changed
get_correct_id()

W Oakdale Ave & N Broadway :  1436495100903691938

Broadway & Wilson - Truman College Vaccination Site :  293

Western & 28th - Velasquez Institute Vaccination Site :  446

N Sheffield Ave & W Wellington Ave :  1436495118083561146

N Paulina St & Lincoln Ave :  1436495122378528446

W Armitage Ave & N Sheffield Ave :  1436495105198659242

Malcolm X College Vaccination Site :  631

Kedzie Ave & 110th St :  736

N Carpenter St & W Lake St :  1436495105198659246

N Southport Ave & W Newport Ave :  1436495115557663136

Damen Ave & Wabansia Ave :  1521686986436309688

N Green St & W Lake St :  1436495109493626546

W Washington Blvd & N Peoria St :  1436495109493626544

Chicago State University :  737

Halsted & 63rd - Kennedy-King Vaccination Site :  388

These stations below cannot be found in the official stations information dataset:

['N Hampden Ct & W Diversey Ave',
 'Base - 2132 W Hubbard Warehouse',
 'N Damen Ave & W Wabansia St']

***Note:***

The stations 'Base - 2132 W Hubbard Warehouse', 'N Hampden Ct & W Diversey Ave', and 'N Damen Ave & W Wabansia St' cannot be found in the official station information dataset. Due to lack of information, I will drop these records.

In [142]:
# drop records with start_station_name as 'Base - 2132 W Hubbard Warehouse'
bt_202103.drop(bt_202103[bt_202103['start_station_name'] == 'Base - 2132 W Hubbard Warehouse'].index, 
               inplace=True)

# drop records with end_station_name as 'Base - 2132 W Hubbard Warehouse'
bt_202103.drop(bt_202103[bt_202103['end_station_name'] == 'Base - 2132 W Hubbard Warehouse'].index, 
               inplace=True)

# drop records with start_station_name as 'N Hampden Ct & W Diversey Ave'
bt_202103.drop(bt_202103[bt_202103['start_station_name'] == 'N Hampden Ct & W Diversey Ave'].index, 
               inplace=True)

# drop records with end_station_name as 'N Hampden Ct & W Diversey Ave'
bt_202103.drop(bt_202103[bt_202103['end_station_name'] == 'N Hampden Ct & W Diversey Ave'].index, 
               inplace=True)

# drop records with start_station_name as 'N Damen Ave & W Wabansia St'
bt_202103.drop(bt_202103[bt_202103['start_station_name'] == 'N Damen Ave & W Wabansia St'].index, 
               inplace=True)

# drop records with end_station_name as 'N Damen Ave & W Wabansia St'
bt_202103.drop(bt_202103[bt_202103['end_station_name'] == 'N Damen Ave & W Wabansia St'].index, 
               inplace=True)

***Note:***

For the other 15 stations, I will manually update the ids in bt_202102

In [143]:
# update station's id with name of 'Broadway & Wilson - Truman College Vaccination Site'
filt_a1 = (bt_202103['start_station_name'] == 'Broadway & Wilson - Truman College Vaccination Site')
bt_202103.loc[filt_a1, 'start_station_id'] = 293

filt_a2 = (bt_202103['end_station_name'] == 'Broadway & Wilson - Truman College Vaccination Site')
bt_202103.loc[filt_a2, 'end_station_id'] = 293

In [144]:
# update station's id with name of 'Damen Ave & Wabansia Ave'
filt_b1 = (bt_202103['start_station_name'] == 'Damen Ave & Wabansia Ave')
bt_202103.loc[filt_b1, 'start_station_id'] = 1521686986436309688

filt_b2 = (bt_202103['end_station_name'] == 'Damen Ave & Wabansia Ave')
bt_202103.loc[filt_b2, 'end_station_id'] = 1521686986436309688

In [145]:
# update station's id with name of 'Western & 28th - Velasquez Institute Vaccination Site'
filt_c1 = (bt_202103['start_station_name'] == 'Western & 28th - Velasquez Institute Vaccination Site')
bt_202103.loc[filt_c1, 'start_station_id'] = 446

filt_c2 = (bt_202103['end_station_name'] == 'Western & 28th - Velasquez Institute Vaccination Site')
bt_202103.loc[filt_c2, 'end_station_id'] = 446

In [146]:
# update station's id with name of 'Chicago State University'
filt_d1 = (bt_202103['start_station_name'] == 'Chicago State University')
bt_202103.loc[filt_d1, 'start_station_id'] = 737

filt_d2 = (bt_202103['end_station_name'] == 'Chicago State University')
bt_202103.loc[filt_d2, 'end_station_id'] = 737

In [147]:
# update station's id with name of 'W Armitage Ave & N Sheffield Ave'
filt_e1 = (bt_202103['start_station_name'] == 'W Armitage Ave & N Sheffield Ave')
bt_202103.loc[filt_e1, 'start_station_id'] = 1436495105198659242

filt_e2 = (bt_202103['end_station_name'] == 'W Armitage Ave & N Sheffield Ave')
bt_202103.loc[filt_e2, 'end_station_id'] = 1436495105198659242

In [148]:
# update station's id with name of 'W Washington Blvd & N Peoria St'
filt_f1 = (bt_202103['start_station_name'] == 'W Washington Blvd & N Peoria St')
bt_202103.loc[filt_f1, 'start_station_id'] = 1436495109493626544

filt_f2 = (bt_202103['end_station_name'] == 'W Washington Blvd & N Peoria St')
bt_202103.loc[filt_f2, 'end_station_id'] = 1436495109493626544

In [149]:
# update station's id with name of 'N Paulina St & Lincoln Ave'
filt_g1 = (bt_202103['start_station_name'] == 'N Paulina St & Lincoln Ave')
bt_202103.loc[filt_g1, 'start_station_id'] = 1436495122378528446
              
filt_g2 = (bt_202103['end_station_name'] == 'N Paulina St & Lincoln Ave')
bt_202103.loc[filt_g2, 'end_station_id'] = 1436495122378528446

In [150]:
# update station's id with name of 'Halsted & 63rd - Kennedy-King Vaccination Site'
filt_h1 = (bt_202103['start_station_name'] == 'Halsted & 63rd - Kennedy-King Vaccination Site')
bt_202103.loc[filt_h1, 'start_station_id'] = 388

filt_h2 = (bt_202103['end_station_name'] == 'Halsted & 63rd - Kennedy-King Vaccination Site')
bt_202103.loc[filt_h2, 'end_station_id'] = 388

In [151]:
# update station's id with name of 'Kedzie Ave & 110th St'
filt_i1 = (bt_202103['start_station_name'] == 'Kedzie Ave & 110th St')
bt_202103.loc[filt_i1, 'start_station_id'] = 736

filt_i2 = (bt_202103['end_station_name'] == 'Kedzie Ave & 110th St')
bt_202103.loc[filt_i2, 'end_station_id'] = 736

In [152]:
# update station's id with name of 'N Carpenter St & W Lake St'
filt_j1 = (bt_202103['start_station_name'] == 'N Carpenter St & W Lake St')
bt_202103.loc[filt_j1, 'start_station_id'] = 1436495105198659246

filt_j2 = (bt_202103['end_station_name'] == 'N Carpenter St & W Lake St')
bt_202103.loc[filt_j2, 'end_station_id'] = 1436495105198659246

In [153]:
# update station's id with name of 'Malcolm X College Vaccination Site'
filt_k1 = (bt_202103['start_station_name'] == 'Malcolm X College Vaccination Site')
bt_202103.loc[filt_k1, 'start_station_id'] = 631

filt_k2 = (bt_202103['end_station_name'] == 'Malcolm X College Vaccination Site')
bt_202103.loc[filt_k2, 'end_station_id'] = 631

In [154]:
# update station's id with name of 'N Sheffield Ave & W Wellington Ave'
filt_l1 = (bt_202103['start_station_name'] == 'N Sheffield Ave & W Wellington Ave')
bt_202103.loc[filt_l1, 'start_station_id'] = 1436495118083561146

filt_l2 = (bt_202103['end_station_name'] == 'N Sheffield Ave & W Wellington Ave')
bt_202103.loc[filt_l2, 'end_station_id'] = 1436495118083561146

In [155]:
# update station's id with name of 'W Oakdale Ave & N Broadway'
filt_m1 = (bt_202103['start_station_name'] == 'W Oakdale Ave & N Broadway')
bt_202103.loc[filt_m1, 'start_station_id'] = 1436495100903691938

filt_m2 = (bt_202103['end_station_name'] == 'W Oakdale Ave & N Broadway')
bt_202103.loc[filt_m2, 'end_station_id'] = 1436495100903691938

In [156]:
# update station's id with name of 'N Southport Ave & W Newport Ave'
filt_n1 = (bt_202103['start_station_name'] == 'N Southport Ave & W Newport Ave')
bt_202103.loc[filt_n1, 'start_station_id'] = 1436495115557663136

filt_n2 = (bt_202103['end_station_name'] == 'N Southport Ave & W Newport Ave')
bt_202103.loc[filt_n2, 'end_station_id'] = 1436495115557663136

In [157]:
# update station's id with name of 'N Green St & W Lake St'
filt_o1 = (bt_202103['start_station_name'] == 'N Green St & W Lake St')
bt_202103.loc[filt_o1, 'start_station_id'] = 1436495109493626546

filt_o2 = (bt_202103['end_station_name'] == 'N Green St & W Lake St')
bt_202103.loc[filt_o2, 'end_station_id'] = 1436495109493626546

### 3. Save cleaned datasets for next phase of data analysis

In [158]:
bt_202004.to_csv('~/00_PROJECTS/cs_1_bike_share/cleaned_datasets/bt_202004.csv', index = False)
bt_202005.to_csv('~/00_PROJECTS/cs_1_bike_share/cleaned_datasets/bt_202005.csv', index = False)
bt_202006.to_csv('~/00_PROJECTS/cs_1_bike_share/cleaned_datasets/bt_202006.csv', index = False)
bt_202007.to_csv('~/00_PROJECTS/cs_1_bike_share/cleaned_datasets/bt_202007.csv', index = False)
bt_202008.to_csv('~/00_PROJECTS/cs_1_bike_share/cleaned_datasets/bt_202008.csv', index = False)
bt_202009.to_csv('~/00_PROJECTS/cs_1_bike_share/cleaned_datasets/bt_202009.csv', index = False)
bt_202010.to_csv('~/00_PROJECTS/cs_1_bike_share/cleaned_datasets/bt_202010.csv', index = False)
bt_202011.to_csv('~/00_PROJECTS/cs_1_bike_share/cleaned_datasets/bt_202011.csv', index = False)
bt_202012.to_csv('~/00_PROJECTS/cs_1_bike_share/cleaned_datasets/bt_202012.csv', index = False)
bt_202101.to_csv('~/00_PROJECTS/cs_1_bike_share/cleaned_datasets/bt_202101.csv', index = False)
bt_202102.to_csv('~/00_PROJECTS/cs_1_bike_share/cleaned_datasets/bt_202102.csv', index = False)
bt_202103.to_csv('~/00_PROJECTS/cs_1_bike_share/cleaned_datasets/bt_202103.csv', index = False)