<h2><center>Cyclistic: a bike-share program</center></h2>
<center>(Part 1: Data Cleaning & Transformation)</center>

### 1. Import libraries and datasets

In [1]:
import pandas as pd

In [9]:
bt_202004 = pd.read_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/original_datasets/202004-divvy-tripdata.csv')
bt_202005 = pd.read_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/original_datasets/202005-divvy-tripdata.csv')
bt_202006 = pd.read_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/original_datasets/202006-divvy-tripdata.csv')
bt_202007 = pd.read_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/original_datasets/202007-divvy-tripdata.csv')
bt_202008 = pd.read_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/original_datasets/202008-divvy-tripdata.csv')
bt_202009 = pd.read_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/original_datasets/202009-divvy-tripdata.csv')
bt_202010 = pd.read_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/original_datasets/202010-divvy-tripdata.csv')
bt_202011 = pd.read_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/original_datasets/202011-divvy-tripdata.csv')
bt_202012 = pd.read_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/original_datasets/202012-divvy-tripdata.csv')
bt_202101 = pd.read_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/original_datasets/202101-divvy-tripdata.csv')
bt_202102 = pd.read_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/original_datasets/202102-divvy-tripdata.csv')
bt_202103 = pd.read_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/original_datasets/202103-divvy-tripdata.csv')

### 2. Examine datasets

<h4><font color='green'>2-1 dataset: bike trips of April 2020 </font></h4>

In [9]:
bt_202004.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,A847FADBBC638E45,docked_bike,2020-04-26 17:45:14,2020-04-26 18:12:03,Eckhart Park,86,Lincoln Ave & Diversey Pkwy,152.0,41.8964,-87.6610,41.9322,-87.6586,member
1,5405B80E996FF60D,docked_bike,2020-04-17 17:08:54,2020-04-17 17:17:03,Drake Ave & Fullerton Ave,503,Kosciuszko Park,499.0,41.9244,-87.7154,41.9306,-87.7238,member
2,5DD24A79A4E006F4,docked_bike,2020-04-01 17:54:13,2020-04-01 18:08:36,McClurg Ct & Erie St,142,Indiana Ave & Roosevelt Rd,255.0,41.8945,-87.6179,41.8679,-87.6230,member
3,2A59BBDF5CDBA725,docked_bike,2020-04-07 12:50:19,2020-04-07 13:02:31,California Ave & Division St,216,Wood St & Augusta Blvd,657.0,41.9030,-87.6975,41.8992,-87.6722,member
4,27AD306C119C6158,docked_bike,2020-04-18 10:22:59,2020-04-18 11:15:54,Rush St & Hubbard St,125,Sheridan Rd & Lawrence Ave,323.0,41.8902,-87.6262,41.9695,-87.6547,casual

In [11]:
bt_202004.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id        int64
end_station_name       object
end_station_id        float64
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [12]:
bt_202004.isna().sum()

ride_id                0
rideable_type          0
started_at             0
ended_at               0
start_station_name     0
start_station_id       0
end_station_name      99
end_station_id        99
start_lat              0
start_lng              0
end_lat               99
end_lng               99
member_casual          0
dtype: int64

In [13]:
# drop all NAN values in bt_202004
bt_202004.dropna(inplace=True)

In [14]:
# convert 'end_station_id' column from floating points to integers
bt_202004['end_station_id'] = bt_202004['end_station_id'].astype('int64')

<h4><font color='green'>2.2 bike trips of May 2020 </font></h4>

In [15]:
bt_202005.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id        int64
end_station_name       object
end_station_id        float64
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [16]:
bt_202005.isna().sum()

ride_id                 0
rideable_type           0
started_at              0
ended_at                0
start_station_name      0
start_station_id        0
end_station_name      321
end_station_id        321
start_lat               0
start_lng               0
end_lat               321
end_lng               321
member_casual           0
dtype: int64

In [17]:
# drop all NAN values in bt_202005
bt_202005.dropna(inplace=True)

In [18]:
# convert 'started_at' column from strings to datetimes
bt_202005['started_at'] = pd.to_datetime(bt_202005['started_at'], format = '%Y-%m-%d %H:%M:%S')

# convert 'ended_at' column from strings to datetimes
bt_202005['ended_at'] = pd.to_datetime(bt_202005['ended_at'], format = '%Y-%m-%d %H:%M:%S')

# convert 'end_station_id' from floating points to integers
bt_202005['end_station_id'] = bt_202005['end_station_id'].astype('int64')

<h4><font color='green'>2.3 bike trips of June 2020 </font></h4>

In [19]:
bt_202006.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id        int64
end_station_name       object
end_station_id        float64
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [20]:
bt_202006.isna().sum()

ride_id                 0
rideable_type           0
started_at              0
ended_at                0
start_station_name      0
start_station_id        0
end_station_name      468
end_station_id        468
start_lat               0
start_lng               0
end_lat               468
end_lng               468
member_casual           0
dtype: int64

In [21]:
# drop all NAN values in bt_202006
bt_202006.dropna(inplace=True)

In [22]:
# convert 'started_at' column from strings to datetimes
bt_202006['started_at'] = pd.to_datetime(bt_202006['started_at'], format = "%Y-%m-%d %H:%M:%S")

# convert 'ended_at' column from strings to datetimes
bt_202006['ended_at'] = pd.to_datetime(bt_202006['ended_at'], format = "%Y-%m-%d %H:%M:%S")

# convert 'end_station_id' from floating points to integers
bt_202006['end_station_id'] = bt_202006['end_station_id'].astype('int64')

<h4><font color='green'>2.4 bike trips of July 2020</font></h4>

In [23]:
bt_202007.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id      float64
end_station_name       object
end_station_id        float64
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [24]:
bt_202007.isna().sum()

ride_id                 0
rideable_type           0
started_at              0
ended_at                0
start_station_name    149
start_station_id      152
end_station_name      967
end_station_id        969
start_lat               0
start_lng               0
end_lat               770
end_lng               770
member_casual           0
dtype: int64

In [25]:
# drop all NAN values in bt_202007
bt_202007.dropna(inplace=True)

In [26]:
# convert 'started_at' column from strings to datetimes
bt_202007['started_at'] = pd.to_datetime(bt_202007['started_at'], format = "%Y-%m-%d %H:%M:%S")

# convert 'ended_at' column from strings to datetimes
bt_202007['ended_at'] = pd.to_datetime(bt_202007['ended_at'], format = "%Y-%m-%d %H:%M:%S")

# convert 'start_station_id' column from floating points to integers
bt_202007['start_station_id'] = bt_202007['start_station_id'].astype('int64')

# convert 'end_station_id' column from floating points to integers
bt_202007['end_station_id'] = bt_202007['end_station_id'].astype('int64')

<h4><font color='green'>2.5 bike trips of August 2020</font></h4>

In [27]:
bt_202008.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id      float64
end_station_name       object
end_station_id        float64
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [28]:
bt_202008.isna().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name     7595
start_station_id       7691
end_station_name      10035
end_station_id        10110
start_lat                 0
start_lng                 0
end_lat                 938
end_lng                 938
member_casual             0
dtype: int64

In [29]:
# drop all NAN values in bt_202008
bt_202008.dropna(inplace=True)

In [30]:
# convert 'started_at' column from strings to datetimes
bt_202008['started_at'] = pd.to_datetime(bt_202008['started_at'], format = "%Y-%m-%d %H:%M:%S")

# convert 'ended_at' column from strings to datetimes
bt_202008['ended_at'] = pd.to_datetime(bt_202008['ended_at'], format = "%Y-%m-%d %H:%M:%S")

# convert 'start_station_id' column from floating points to integers
bt_202008['start_station_id'] = bt_202008['start_station_id'].astype('int64')

# convert 'end_station_id' column from floating points to integers
bt_202008['end_station_id'] = bt_202008['end_station_id'].astype('int64')

<h4><font color='green'>2.6 bike trips of September 2020</font></h4>

In [31]:
bt_202009.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id      float64
end_station_name       object
end_station_id        float64
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [32]:
bt_202009.isna().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name    19691
start_station_id      19901
end_station_name      23373
end_station_id        23524
start_lat                 0
start_lng                 0
end_lat                 789
end_lng                 789
member_casual             0
dtype: int64

In [33]:
# drop all NAN values in bt_202009
bt_202009.dropna(inplace=True)

In [34]:
# convert 'started_at' column from strings to datetimes
bt_202009['started_at'] = pd.to_datetime(bt_202009['started_at'], format = "%Y-%m-%d %H:%M:%S")

# convert 'ended_at' column from strings to datetimes
bt_202009['ended_at'] = pd.to_datetime(bt_202009['ended_at'], format = "%Y-%m-%d %H:%M:%S")

# convert 'start_station_id' column from floating points to integers
bt_202009['start_station_id'] = bt_202009['start_station_id'].astype('int64')

# convert 'end_station_id' column from floating points to integers
bt_202009['end_station_id'] = bt_202009['end_station_id'].astype('int64')

<font color='green'><h4>2.7 bike trips of October 2020</h4></font>

In [35]:
bt_202010.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id      float64
end_station_name       object
end_station_id        float64
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [36]:
bt_202010.isna().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name    31198
start_station_id      31405
end_station_name      35631
end_station_id        35787
start_lat                 0
start_lng                 0
end_lat                 474
end_lng                 474
member_casual             0
dtype: int64

In [37]:
# drop all NAN values in bt_202010
bt_202010.dropna(inplace=True)

In [38]:
# convert 'started_at' column from strings to datetimes
bt_202010['started_at'] = pd.to_datetime(bt_202010['started_at'], format = "%Y-%m-%d %H:%M:%S")

# convert 'ended_at' column from strings to datetimes
bt_202010['ended_at'] = pd.to_datetime(bt_202010['ended_at'], format = "%Y-%m-%d %H:%M:%S")

# convert 'start_station_id' column from floating points to integers
bt_202010['start_station_id'] = bt_202010['start_station_id'].astype('int64')

# convert 'end_station_id' column from floating points to integers
bt_202010['end_station_id'] = bt_202010['end_station_id'].astype('int64')

<font color='green'><h4>2.8 bike trips of November 2020</h4></font>

In [39]:
bt_202011.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id      float64
end_station_name       object
end_station_id        float64
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [40]:
bt_202011.isna().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name    24324
start_station_id      24434
end_station_name      26749
end_station_id        26826
start_lat                 0
start_lng                 0
end_lat                 284
end_lng                 284
member_casual             0
dtype: int64

In [41]:
# drop all NAN values in bt_202011
bt_202011.dropna(inplace=True)

In [42]:
# convert 'started_at' column from strings to datetimes
bt_202011['started_at'] = pd.to_datetime(bt_202011['started_at'], format = "%Y-%m-%d %H:%M:%S")

# convert 'ended_at' column from strings to datetimes
bt_202011['ended_at'] = pd.to_datetime(bt_202011['ended_at'], format = "%Y-%m-%d %H:%M:%S")

# convert 'start_station_id' column from floating points to integers
bt_202011['start_station_id'] = bt_202011['start_station_id'].astype('int64')

# convert 'end_station_id' column from floating points to integers
bt_202011['end_station_id'] = bt_202011['end_station_id'].astype('int64')

<font color='green'><h4>2.9 bike trips of December 2020</h4></font>

In [43]:
bt_202012.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [44]:
bt_202012.isna().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name    11699
start_station_id      11699
end_station_name      13237
end_station_id        13237
start_lat                 0
start_lng                 0
end_lat                 111
end_lng                 111
member_casual             0
dtype: int64

In [45]:
# drop all NAN values in bt_202012
bt_202012.dropna(inplace=True)

In [46]:
# convert 'started_at' column from strings to datetimes
bt_202012['started_at'] = pd.to_datetime(bt_202012['started_at'], format = "%Y-%m-%d %H:%M:%S")

# convert 'ended_at' column from strings to datetimes
bt_202012['ended_at'] = pd.to_datetime(bt_202012['ended_at'], format = "%Y-%m-%d %H:%M:%S")

<h4><font color='red'>After examinging the 'start_station_id' column and 'end_station_id' in this dataset, I found an inconsistency issue between station ids and their corresponding names. Specifically, if a start or end station's name is "Rhodes Ave & 32nd St", then its corresponding id is 263 in all previous nine datasets, but in this dataset it is associated with id 13215.</font></h4>
    
<h4><font color='red'>Therefore, I will re-validate the correct ids from cross-referecing all previous datasets, and then cast these two columns into integer datatype.</font></h4>

In [47]:
# get all pairs of station names and ids from previous 8 datasets

station_id = dict(zip(bt_202004['start_station_name'], bt_202004['start_station_id']))
station_id.update(zip(bt_202004['end_station_name'], bt_202004['end_station_id']))

station_id.update(zip(bt_202005['start_station_name'], bt_202005['start_station_id']))
station_id.update(zip(bt_202005['end_station_name'], bt_202005['end_station_id']))

station_id.update(zip(bt_202006['start_station_name'], bt_202006['start_station_id']))
station_id.update(zip(bt_202006['end_station_name'], bt_202006['end_station_id']))

station_id.update(zip(bt_202007['start_station_name'], bt_202007['start_station_id']))
station_id.update(zip(bt_202007['end_station_name'], bt_202007['end_station_id']))

station_id.update(zip(bt_202008['start_station_name'], bt_202008['start_station_id']))
station_id.update(zip(bt_202008['end_station_name'], bt_202005['end_station_id']))

station_id.update(zip(bt_202009['start_station_name'], bt_202009['start_station_id']))
station_id.update(zip(bt_202009['end_station_name'], bt_202009['end_station_id']))

station_id.update(zip(bt_202010['start_station_name'], bt_202010['start_station_id']))
station_id.update(zip(bt_202010['end_station_name'], bt_202010['end_station_id']))

station_id.update(zip(bt_202011['start_station_name'], bt_202011['start_station_id']))
station_id.update(zip(bt_202011['end_station_name'], bt_202011['end_station_id']))

<h4><font color='blue'> The function 'correct_station_name_id' below will grab all start station names and end station names from the input dataframe, determine if each station's name appears in the previous 8 datasets:</font></h4>

- <font color='blue'>if it does exist, update its corresponding id from the input dataframe to the correct one;</font>
- <font color='blue'>if it does not exist, mark the station's name in a list 'not_changed' for further cleaning.</font>

In [48]:
not_changed = list()

def correct_station_name_id(dataframe):
    start_station_names = set(dataframe['start_station_name'])
    end_station_names = set(dataframe['end_station_name'])
    
    # correct start_station_ids in the dataset
    for name in start_station_names:
        if name not in station_id.keys():
            not_changed.append(name) # catch exceptions in case any station name haven't appeared in previous 8 datasets
        else:
            dataframe.loc[dataframe['start_station_name'] == name, 'start_station_id'] = station_id[name]
    
    # correct end_station_ids in the dataset
    for name in end_station_names:
        if name in not_changed:
            continue
        elif name not in station_id.keys():
            not_changed.append(name) # catch exceptions in case any station name haven't appeared in previous 8 datasets
        else:
            dataframe.loc[dataframe['end_station_name'] == name, 'end_station_id'] = station_id[name]
    
    print('These stations below are not existed in the previous 8 datasets:')
    return not_changed

In [49]:
# update stations' ids in bt_202012 and catch stations that're not existed from previous 8 datasets

correct_station_name_id(bt_202012)

These stations below are not existed in the previous 8 datasets:

['W Oakdale Ave & N Broadway',
 'N Green St & W Lake St',
 'Base - 2132 W Hubbard Warehouse',
 'W Armitage Ave & N Sheffield Ave',
 'N Carpenter St & W Lake St']

<font color='red'><h4>As showed above, 5 station names were caught as exceptions in the list not_changed</h4></font>
    
<font color='red'><h4>Meanwhile, I've examined the rest 3 datasets, and I found in these 3 datasets these 5 station names and their corresponding ids are not correct as well.</h4></font>

#### <font color='blue'> Therefore, I've found the official dataset of all Divvy Bicycle Stations at __[here](https://data.cityofchicago.org/d/bbyy-e7gq?category=Transportation&view_name=Divvy-Bicycle-Stations)__ on __[The Chicago Data Portal website](httP://data.cityofchicago.org)__ </font>

#### <font color='blue'>I will download this dataset and import it below as the official reference to get the correct station names and/or corresponding ids.</font>

In [50]:
# import the official bike stations information dataset
official_station_info = pd.read_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/original_datasets/official_bike_stations_info.csv')

# get the station name and id in pairs from the official station information dataset
official_station_name_id = dict(zip(official_station_info['Station Name'], official_station_info['ID']))

In [51]:
# get the correct id of each station that're not existed in the previous 8 datasets from the official stations information dataset
def get_correct_id():
    cannot_find_this_station = []
    for name in not_changed:
        if name not in official_station_name_id.keys():
            if name not in cannot_find_this_station:
                cannot_find_this_station.append(name)
        else:
            correct_id = official_station_name_id[name]
            print(name, ': ', correct_id)
            #print('and its correct id found in the official stations information dataset is: ', correct_id)
            print()
    
    print('These stations below cannot be found in the official stations information dataset:')
    return cannot_find_this_station

In [52]:
# get the correct ids of exceptional stations in list not_changed
get_correct_id()

W Oakdale Ave & N Broadway :  1436495100903691938

N Green St & W Lake St :  1436495109493626546

W Armitage Ave & N Sheffield Ave :  1436495105198659242

N Carpenter St & W Lake St :  1436495105198659246

These stations below cannot be found in the official stations information dataset:

['Base - 2132 W Hubbard Warehouse']

<h4><font color='red'> The station 'Base - 2132 W Hubbard Warehouse' cannot be found in the official station information dataset. Due to lack of information, I will drop these records.</font></h4>

In [53]:
# drop records with start_station_name as 'Base - 2132 W Hubbard Warehouse'
bt_202012.drop(bt_202012[bt_202012['start_station_name'] == 'Base - 2132 W Hubbard Warehouse'].index, inplace=True)

# drop records with end_station_name as 'Base - 2132 W Hubbard Warehouse'
bt_202012.drop(bt_202012[bt_202012['end_station_name'] == 'Base - 2132 W Hubbard Warehouse'].index, inplace=True)

<h4><font color='blue'> For the other 4 stations, I will manually update the ids in bt_202012</font></h4>

In [54]:
# update station's id with name of 'N Green St & W Lake St'
filt_a1 = (bt_202012['start_station_name'] == 'N Green St & W Lake St')
bt_202012.loc[filt_a1, 'start_station_id'] = 1436495109493626546

filt_a2 = (bt_202012['end_station_name'] == 'N Green St & W Lake St')
bt_202012.loc[filt_a2, 'end_station_id'] = 1436495109493626546

In [55]:
# update station's id with name of 'W Oakdale Ave & N Broadway'
filt_b1 = (bt_202012['start_station_name'] == 'W Oakdale Ave & N Broadway')
bt_202012.loc[filt_b1, 'start_station_id'] = 1436495100903691938

filt_b2 = (bt_202012['end_station_name'] == 'W Oakdale Ave & N Broadway')
bt_202012.loc[filt_b2, 'end_station_id'] = 1436495100903691938

In [56]:
# update station's id with name of 'W Armitage Ave & N Sheffield Ave'
filt_c1 = (bt_202012['start_station_name'] == 'W Armitage Ave & N Sheffield Ave')
bt_202012.loc[filt_c1, 'start_station_id'] = 1436495105198659242

filt_c2 = (bt_202012['end_station_name'] == 'W Armitage Ave & N Sheffield Ave')
bt_202012.loc[filt_c2, 'end_station_id'] = 1436495105198659242

In [57]:
# update station's id with name of 'N Carpenter St & W Lake St'
filt_d1 = (bt_202012['start_station_name'] == 'N Carpenter St & W Lake St')
bt_202012.loc[filt_d1, 'start_station_id'] = 1436495105198659246

filt_d2 = (bt_202012['end_station_name'] == 'N Carpenter St & W Lake St')
bt_202012.loc[filt_d2, 'end_station_id'] = 1436495105198659246

<font color='green'><h4>2.10 bike trips of January 2021</h4></font>

In [58]:
bt_202101.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [59]:
bt_202101.isna().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name     8625
start_station_id       8625
end_station_name      10277
end_station_id        10277
start_lat                 0
start_lng                 0
end_lat                 103
end_lng                 103
member_casual             0
dtype: int64

In [60]:
# drop all NAN values in bt_202101
bt_202101.dropna(inplace=True)

In [61]:
# convert 'started_at' column from strings to datetimes
bt_202101['started_at'] = pd.to_datetime(bt_202101['started_at'], format = "%Y-%m-%d %H:%M:%S")

# convert 'ended_at' column from strings to datetimes
bt_202101['ended_at'] = pd.to_datetime(bt_202101['ended_at'], format = "%Y-%m-%d %H:%M:%S")

<h4><font color='red'>After examinging the 'start_station_id' column and 'end_station_id' in this dataset, I found the same inconsistency issue between station ids and their corresponding names as before. </font></h4>
    
<h4><font color='blue'>Therefore, I will re-run the whole process of validating station names with corresponding ids as before using:</font></h4>

- <font color='blue'> the official stations information dataset from Chicago Data Portral website;</font>
- <font color='blue'> the dictionary "station_id" of all stations and ids existed in the previous 8 datasets;</font>
- <font color='blue'> the function "correct_station_name_id" to either update ids or catch exceptions;</font>
- <font color='blue'> the function "get_correct_id" to grab the correct ids for exceptions.</font>

In [62]:
# reset the not_changed list to empty
not_changed = []

# update stations' ids in bt_202101 or catch stations that're not existed from previous 8 datasets
correct_station_name_id(bt_202101)

These stations below are not existed in the previous 8 datasets:

['W Oakdale Ave & N Broadway',
 'N Sheffield Ave & W Wellington Ave',
 'N Green St & W Lake St',
 'N Paulina St & Lincoln Ave',
 'Broadway & Wilson - Truman College Vaccination Site',
 'Base - 2132 W Hubbard Warehouse',
 'N Southport Ave & W Newport Ave',
 'W Armitage Ave & N Sheffield Ave',
 'Malcolm X College Vaccination Site',
 'Avenue L & 114th St',
 'W Washington Blvd & N Peoria St',
 'N Damen Ave & W Wabansia St',
 'Western & 28th - Velasquez Institute Vaccination Site',
 'N Carpenter St & W Lake St']

In [63]:
# get the correct ids of exceptional stations in list not_changed
get_correct_id()

W Oakdale Ave & N Broadway :  1436495100903691938

N Sheffield Ave & W Wellington Ave :  1436495118083561146

N Green St & W Lake St :  1436495109493626546

N Paulina St & Lincoln Ave :  1436495122378528446

Broadway & Wilson - Truman College Vaccination Site :  293

N Southport Ave & W Newport Ave :  1436495115557663136

W Armitage Ave & N Sheffield Ave :  1436495105198659242

Malcolm X College Vaccination Site :  631

Avenue L & 114th St :  1448642175142467184

W Washington Blvd & N Peoria St :  1436495109493626544

Western & 28th - Velasquez Institute Vaccination Site :  446

N Carpenter St & W Lake St :  1436495105198659246

These stations below cannot be found in the official stations information dataset:

['Base - 2132 W Hubbard Warehouse', 'N Damen Ave & W Wabansia St']

<h4><font color='red'> The stations 'Base - 2132 W Hubbard Warehouse' and 'N Damen Ave & W Wabansia St' cannot be found in the official station information dataset. Due to lack of information, I will drop these records.</font></h4>

In [64]:
# drop records with start_station_name as 'Base - 2132 W Hubbard Warehouse'
bt_202101.drop(bt_202101[bt_202101['start_station_name'] == 'Base - 2132 W Hubbard Warehouse'].index, inplace=True)

# drop records with end_station_name as 'Base - 2132 W Hubbard Warehouse'
bt_202101.drop(bt_202101[bt_202101['end_station_name'] == 'Base - 2132 W Hubbard Warehouse'].index, inplace=True)

# drop records with start_station_name as 'N Damen Ave & W Wabansia St'
bt_202101.drop(bt_202101[bt_202101['start_station_name'] == 'N Damen Ave & W Wabansia St'].index, inplace=True)

# drop records with end_station_name as 'N Damen Ave & W Wabansia St'
bt_202101.drop(bt_202101[bt_202101['end_station_name'] == 'N Damen Ave & W Wabansia St'].index, inplace=True)

<h4><font color='blue'> For the other 12 stations, I will manually update the ids in bt_202101</font></h4>

In [65]:
# update station's id with name of 'Malcolm X College Vaccination Site'
filt_a1 = (bt_202101['start_station_name'] == 'Malcolm X College Vaccination Site')
bt_202101.loc[filt_a1, 'start_station_id'] = 631

filt_a2 = (bt_202101['end_station_name'] == 'Malcolm X College Vaccination Site')
bt_202101.loc[filt_a2, 'end_station_id'] = 631

In [66]:
# update station's id with name of 'N Southport Ave & W Newport Ave'
filt_b1 = (bt_202101['start_station_name'] == 'N Southport Ave & W Newport Ave')
bt_202101.loc[filt_b1, 'start_station_id'] = 1436495115557663136

filt_b2 = (bt_202101['end_station_name'] == 'N Southport Ave & W Newport Ave')
bt_202101.loc[filt_b2, 'end_station_id'] = 1436495115557663136

In [67]:
# update station's id with name of 'N Sheffield Ave & W Wellington Ave'
filt_c1 = (bt_202101['start_station_name'] == 'N Sheffield Ave & W Wellington Ave')
bt_202101.loc[filt_c1, 'start_station_id'] = 1436495118083561146

filt_c2 = (bt_202101['end_station_name'] == 'N Sheffield Ave & W Wellington Ave')
bt_202101.loc[filt_c2, 'end_station_id'] = 1436495115557663136

In [68]:
# update station's id with name of 'N Paulina St & Lincoln Ave'
filt_d1 = (bt_202101['start_station_name'] == 'N Paulina St & Lincoln Ave')
bt_202101.loc[filt_d1, 'start_station_id'] = 1436495122378528446

In [69]:
# update station's id with name of 'N Green St & W Lake St'
filt_e1 = (bt_202101['start_station_name'] == 'N Green St & W Lake St')
bt_202101.loc[filt_e1, 'start_station_id'] = 1436495109493626546

filt_e2 = (bt_202101['end_station_name'] == 'N Green St & W Lake St')
bt_202101.loc[filt_e2, 'end_station_id'] = 1436495109493626546

In [70]:
# update station's id with name of 'W Oakdale Ave & N Broadway'
filt_f1 = (bt_202101['start_station_name'] == 'W Oakdale Ave & N Broadway')
bt_202101.loc[filt_f1, 'start_station_id'] = 1436495100903691938

filt_f2 = (bt_202101['end_station_name'] == 'W Oakdale Ave & N Broadway')
bt_202101.loc[filt_f2, 'end_station_id'] = 1436495100903691938

In [71]:
# update station's id with name of 'W Armitage Ave & N Sheffield Ave'
filt_g1 = (bt_202101['start_station_name'] == 'W Armitage Ave & N Sheffield Ave')
bt_202101.loc[filt_g1, 'start_station_id'] = 1436495105198659242

filt_g2 = (bt_202101['end_station_name'] == 'W Armitage Ave & N Sheffield Ave')
bt_202101.loc[filt_g2, 'end_station_id'] = 1436495105198659242

In [72]:
# update station's id with name of 'Broadway & Wilson - Truman College Vaccination Site'
filt_h1 = (bt_202101['start_station_name'] == 'Broadway & Wilson - Truman College Vaccination Site')
bt_202101.loc[filt_h1, 'start_station_id'] = 293

filt_h2 = (bt_202101['end_station_name'] == 'Broadway & Wilson - Truman College Vaccination Site')
bt_202101.loc[filt_h2, 'end_station_id'] = 293

In [73]:
# update station's id with name of 'N Carpenter St & W Lake St'
filt_i1 = (bt_202101['end_station_name'] == 'N Carpenter St & W Lake St')
bt_202101.loc[filt_i1, 'end_station_id'] = 1436495105198659246

In [74]:
# update station's id with name of 'Western & 28th - Velasquez Institute Vaccination Site'
filt_j1 = (bt_202101['end_station_name'] == 'Western & 28th - Velasquez Institute Vaccination Site')
bt_202101.loc[filt_j1, 'end_station_id'] = 446

In [75]:
# update station's id with name of 'W Washington Blvd & N Peoria St'
filt_k1 = (bt_202101['end_station_name'] == 'W Washington Blvd & N Peoria St')
bt_202101.loc[filt_k1, 'end_station_id'] = 1436495109493626544

In [76]:
# update station's id with name of 'Avenue L & 114th St'
filt_l1 = (bt_202101['end_station_name'] == 'Avenue L & 114th St')
bt_202101.loc[filt_l1, 'end_station_id'] = 1448642175142467184

<font color='green'><h4>2.11 bike trips of Feburary 2021</h4></font>

In [77]:
bt_202102.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [78]:
bt_202102.isna().sum()

ride_id                  0
rideable_type            0
started_at               0
ended_at                 0
start_station_name    4046
start_station_id      4046
end_station_name      5358
end_station_id        5358
start_lat                0
start_lng                0
end_lat                214
end_lng                214
member_casual            0
dtype: int64

In [79]:
# drop all NAN values in bt_202102
bt_202102.dropna(inplace=True)

In [80]:
# convert 'started_at' column from strings to datetimes
bt_202102['started_at'] = pd.to_datetime(bt_202102['started_at'], format = "%Y-%m-%d %H:%M:%S")

# convert 'ended_at' column from strings to datetimes
bt_202102['ended_at'] = pd.to_datetime(bt_202102['ended_at'], format = "%Y-%m-%d %H:%M:%S")

<h4><font color='red'>After examinging the 'start_station_id' column and 'end_station_id' in this dataset, I found the same inconsistency issue between station ids and their corresponding names as before. </font></h4>
    
<h4><font color='blue'>Therefore, I will re-run the whole process of validating station names with corresponding ids as before using:</font></h4>

- <font color='blue'> the official stations information dataset from Chicago Data Portral website;</font>
- <font color='blue'> the dictionary "station_id" of all stations and ids existed in the previous 8 datasets;</font>
- <font color='blue'> the function "correct_station_name_id" to either update ids or catch exceptions;</font>
- <font color='blue'> the function "get_correct_id" to grab the correct ids for exceptions.</font>

In [81]:
# reset the not_changed list to empty
not_changed = []

# update stations' ids in bt_202102 or catch stations that're not existed from previous 8 datasets
correct_station_name_id(bt_202102)

These stations below are not existed in the previous 8 datasets:

['W Oakdale Ave & N Broadway',
 'N Paulina St & Lincoln Ave',
 'Broadway & Wilson - Truman College Vaccination Site',
 'Base - 2132 W Hubbard Warehouse',
 'W Washington Blvd & N Peoria St',
 'W Armitage Ave & N Sheffield Ave',
 'Malcolm X College Vaccination Site',
 'N Sheffield Ave & W Wellington Ave',
 'N Hampden Ct & W Diversey Ave',
 'N Green St & W Lake St',
 'Western & 28th - Velasquez Institute Vaccination Site',
 'N Carpenter St & W Lake St']

In [82]:
# get the correct ids of exceptional stations in list not_changed
get_correct_id()

W Oakdale Ave & N Broadway :  1436495100903691938

N Paulina St & Lincoln Ave :  1436495122378528446

Broadway & Wilson - Truman College Vaccination Site :  293

W Washington Blvd & N Peoria St :  1436495109493626544

W Armitage Ave & N Sheffield Ave :  1436495105198659242

Malcolm X College Vaccination Site :  631

N Sheffield Ave & W Wellington Ave :  1436495118083561146

N Green St & W Lake St :  1436495109493626546

Western & 28th - Velasquez Institute Vaccination Site :  446

N Carpenter St & W Lake St :  1436495105198659246

These stations below cannot be found in the official stations information dataset:

['Base - 2132 W Hubbard Warehouse', 'N Hampden Ct & W Diversey Ave']

<h4><font color='red'> The stations 'Base - 2132 W Hubbard Warehouse' and 'N Hampden Ct & W Diversey Ave' cannot be found in the official station information dataset. Due to lack of information, I will drop these records.</font></h4>

In [83]:
# drop records with start_station_name as 'Base - 2132 W Hubbard Warehouse'
bt_202102.drop(bt_202102[bt_202102['start_station_name'] == 'Base - 2132 W Hubbard Warehouse'].index, inplace=True)

# drop records with end_station_name as 'Base - 2132 W Hubbard Warehouse'
bt_202102.drop(bt_202102[bt_202102['end_station_name'] == 'Base - 2132 W Hubbard Warehouse'].index, inplace=True)

# drop records with start_station_name as 'N Hampden Ct & W Diversey Ave'
bt_202102.drop(bt_202102[bt_202102['start_station_name'] == 'N Hampden Ct & W Diversey Ave'].index, inplace=True)

# drop records with end_station_name as 'N Hampden Ct & W Diversey Ave'
bt_202102.drop(bt_202102[bt_202102['end_station_name'] == 'N Hampden Ct & W Diversey Ave'].index, inplace=True)

<h4><font color='blue'> For the other 10 stations, I will manually update the ids in bt_202102</font></h4>

In [84]:
# update station's id with name of 'Malcolm X College Vaccination Site'
filt_a1 = (bt_202102['start_station_name'] == 'Malcolm X College Vaccination Site')
bt_202102.loc[filt_a1, 'start_station_id'] = 631

filt_a2 = (bt_202102['end_station_name'] == 'Malcolm X College Vaccination Site')
bt_202102.loc[filt_a2, 'end_station_id'] = 631

In [85]:
# update station's id with name of 'N Paulina St & Lincoln Ave'
filt_b1 = (bt_202102['start_station_name'] == 'N Paulina St & Lincoln Ave')
bt_202102.loc[filt_b1, 'start_station_id'] = 1436495122378528446

filt_b2 = (bt_202102['end_station_name'] == 'N Paulina St & Lincoln Ave')
bt_202102.loc[filt_b2, 'end_station_id'] = 1436495122378528446

In [86]:
# update station's id with name of 'W Oakdale Ave & N Broadway'
filt_c1 = (bt_202102['start_station_name'] == 'W Oakdale Ave & N Broadway')
bt_202102.loc[filt_c1, 'start_station_id'] = 1436495100903691938

filt_c2 = (bt_202102['end_station_name'] == 'W Oakdale Ave & N Broadway')
bt_202102.loc[filt_c2, 'end_station_id'] = 1436495100903691938

In [87]:
# update station's id with name of 'W Washington Blvd & N Peoria St'
filt_d1 = (bt_202102['start_station_name'] == 'W Washington Blvd & N Peoria St')
bt_202102.loc[filt_d1, 'start_station_id'] = 1436495109493626544

filt_d2 = (bt_202102['end_station_name'] == 'W Washington Blvd & N Peoria St')
bt_202102.loc[filt_d2, 'end_station_id'] = 1436495109493626544

In [88]:
# update station's id with name of 'W Armitage Ave & N Sheffield Ave'
filt_e1 = (bt_202102['start_station_name'] == 'W Armitage Ave & N Sheffield Ave')
bt_202102.loc[filt_e1, 'start_station_id'] = 1436495105198659242

filt_e2 = (bt_202102['end_station_name'] == 'W Armitage Ave & N Sheffield Ave')
bt_202102.loc[filt_e2, 'end_station_id'] = 1436495105198659242

In [89]:
# update station's id with name of 'Broadway & Wilson - Truman College Vaccination Site'
filt_f1 = (bt_202102['start_station_name'] == 'Broadway & Wilson - Truman College Vaccination Site')
bt_202102.loc[filt_f1, 'start_station_id'] = 293

filt_f2 = (bt_202102['end_station_name'] == 'Broadway & Wilson - Truman College Vaccination Site')
bt_202102.loc[filt_f2, 'end_station_id'] = 293

In [90]:
# update station's id with name of 'N Carpenter St & W Lake St'
filt_g1 = (bt_202102['end_station_name'] == 'N Carpenter St & W Lake St')
bt_202102.loc[filt_g1, 'end_station_id'] = 1436495105198659246

In [91]:
# update station's id with name of 'Western & 28th - Velasquez Institute Vaccination Site'
filt_h1 = (bt_202102['end_station_name'] == 'Western & 28th - Velasquez Institute Vaccination Site')
bt_202102.loc[filt_h1, 'end_station_id'] = 446

In [92]:
# update station's id with name of 'N Sheffield Ave & W Wellington Ave'
filt_i1 = (bt_202102['end_station_name'] == 'N Sheffield Ave & W Wellington Ave')
bt_202102.loc[filt_i1, 'end_station_id'] = 1436495118083561146

In [93]:
# update station's id with name of 'N Green St & W Lake St'
filt_j1 = (bt_202102['end_station_name'] == 'N Green St & W Lake St')
bt_202102.loc[filt_j1, 'end_station_id'] = 1436495109493626546

<font color='green'><h4>2.12 bike trips of March 2021</h4></font>

In [94]:
bt_202103.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [95]:
bt_202103.isna().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name    14848
start_station_id      14848
end_station_name      16727
end_station_id        16727
start_lat                 0
start_lng                 0
end_lat                 167
end_lng                 167
member_casual             0
dtype: int64

In [96]:
# drop all NAN values in bt_202103
bt_202103.dropna(inplace=True)

In [97]:
# convert 'started_at' column from strings to datetimes
bt_202103['started_at'] = pd.to_datetime(bt_202103['started_at'], format = "%Y-%m-%d %H:%M:%S")

# convert 'ended_at' column from strings to datetimes
bt_202103['ended_at'] = pd.to_datetime(bt_202103['ended_at'], format = "%Y-%m-%d %H:%M:%S")

<h4><font color='red'>After examinging the 'start_station_id' column and 'end_station_id' in this dataset, I found the same inconsistency issue between station ids and their corresponding names as before. </font></h4>
    
<h4><font color='blue'>Therefore, I will re-run the whole process of validating station names with corresponding ids as before using:</font></h4>

- <font color='blue'> the official stations information dataset from Chicago Data Portral website;</font>
- <font color='blue'> the dictionary "station_id" of all stations and ids existed in the previous 8 datasets;</font>
- <font color='blue'> the function "correct_station_name_id" to either update ids or catch exceptions;</font>
- <font color='blue'> the function "get_correct_id" to grab the correct ids for exceptions.</font>

In [98]:
# reset the not_changed list to empty
not_changed = []

# update stations' ids in bt_202103 or catch stations that're not existed from previous 8 datasets
correct_station_name_id(bt_202103)

These stations below are not existed in the previous 8 datasets:

['W Oakdale Ave & N Broadway',
 'N Sheffield Ave & W Wellington Ave',
 'N Hampden Ct & W Diversey Ave',
 'Kedzie Ave & 110th St',
 'N Green St & W Lake St',
 'N Paulina St & Lincoln Ave',
 'Broadway & Wilson - Truman College Vaccination Site',
 'Chicago State University',
 'Base - 2132 W Hubbard Warehouse',
 'W Washington Blvd & N Peoria St',
 'N Southport Ave & W Newport Ave',
 'Western & 28th - Velasquez Institute Vaccination Site',
 'W Armitage Ave & N Sheffield Ave',
 'N Carpenter St & W Lake St',
 'Malcolm X College Vaccination Site',
 'Halsted & 63rd - Kennedy-King Vaccination Site',
 'Damen Ave & Wabansia Ave',
 'N Damen Ave & W Wabansia St']

In [99]:
# get the correct ids of exceptional stations in list not_changed
get_correct_id()

W Oakdale Ave & N Broadway :  1436495100903691938

N Sheffield Ave & W Wellington Ave :  1436495118083561146

Kedzie Ave & 110th St :  736

N Green St & W Lake St :  1436495109493626546

N Paulina St & Lincoln Ave :  1436495122378528446

Broadway & Wilson - Truman College Vaccination Site :  293

Chicago State University :  737

W Washington Blvd & N Peoria St :  1436495109493626544

N Southport Ave & W Newport Ave :  1436495115557663136

Western & 28th - Velasquez Institute Vaccination Site :  446

W Armitage Ave & N Sheffield Ave :  1436495105198659242

N Carpenter St & W Lake St :  1436495105198659246

Malcolm X College Vaccination Site :  631

Halsted & 63rd - Kennedy-King Vaccination Site :  388

Damen Ave & Wabansia Ave :  1521686986436309688

These stations below cannot be found in the official stations information dataset:

['N Hampden Ct & W Diversey Ave',
 'Base - 2132 W Hubbard Warehouse',
 'N Damen Ave & W Wabansia St']

<h4><font color='red'> The stations 'Base - 2132 W Hubbard Warehouse', 'N Hampden Ct & W Diversey Ave', and 'N Damen Ave & W Wabansia St' cannot be found in the official station information dataset. Due to lack of information, I will drop these records.</font></h4>

In [100]:
# drop records with start_station_name as 'Base - 2132 W Hubbard Warehouse'
bt_202103.drop(bt_202103[bt_202103['start_station_name'] == 'Base - 2132 W Hubbard Warehouse'].index, inplace=True)

# drop records with end_station_name as 'Base - 2132 W Hubbard Warehouse'
bt_202103.drop(bt_202103[bt_202103['end_station_name'] == 'Base - 2132 W Hubbard Warehouse'].index, inplace=True)

# drop records with start_station_name as 'N Hampden Ct & W Diversey Ave'
bt_202103.drop(bt_202103[bt_202103['start_station_name'] == 'N Hampden Ct & W Diversey Ave'].index, inplace=True)

# drop records with end_station_name as 'N Hampden Ct & W Diversey Ave'
bt_202103.drop(bt_202103[bt_202103['end_station_name'] == 'N Hampden Ct & W Diversey Ave'].index, inplace=True)

# drop records with start_station_name as 'N Damen Ave & W Wabansia St'
bt_202103.drop(bt_202103[bt_202103['start_station_name'] == 'N Damen Ave & W Wabansia St'].index, inplace=True)

# drop records with end_station_name as 'N Damen Ave & W Wabansia St'
bt_202103.drop(bt_202103[bt_202103['end_station_name'] == 'N Damen Ave & W Wabansia St'].index, inplace=True)

<h4><font color='blue'> For the other 15 stations, I will manually update the ids in bt_202102</font></h4>

In [101]:
# update station's id with name of 'Broadway & Wilson - Truman College Vaccination Site'
filt_a1 = (bt_202103['start_station_name'] == 'Broadway & Wilson - Truman College Vaccination Site')
bt_202103.loc[filt_a1, 'start_station_id'] = 293

filt_a2 = (bt_202103['end_station_name'] == 'Broadway & Wilson - Truman College Vaccination Site')
bt_202103.loc[filt_a2, 'end_station_id'] = 293

In [102]:
# update station's id with name of 'Damen Ave & Wabansia Ave'
filt_b1 = (bt_202103['start_station_name'] == 'Damen Ave & Wabansia Ave')
bt_202103.loc[filt_b1, 'start_station_id'] = 1521686986436309688

filt_b2 = (bt_202103['end_station_name'] == 'Damen Ave & Wabansia Ave')
bt_202103.loc[filt_b2, 'end_station_id'] = 1521686986436309688

In [103]:
# update station's id with name of 'Western & 28th - Velasquez Institute Vaccination Site'
filt_c1 = (bt_202103['start_station_name'] == 'Western & 28th - Velasquez Institute Vaccination Site')
bt_202103.loc[filt_c1, 'start_station_id'] = 446

filt_c2 = (bt_202103['end_station_name'] == 'Western & 28th - Velasquez Institute Vaccination Site')
bt_202103.loc[filt_c2, 'end_station_id'] = 446

In [104]:
# update station's id with name of 'Chicago State University'
filt_d1 = (bt_202103['start_station_name'] == 'Chicago State University')
bt_202103.loc[filt_d1, 'start_station_id'] = 737

filt_d2 = (bt_202103['end_station_name'] == 'Chicago State University')
bt_202103.loc[filt_d2, 'end_station_id'] = 737

In [105]:
# update station's id with name of 'W Armitage Ave & N Sheffield Ave'
filt_e1 = (bt_202103['start_station_name'] == 'W Armitage Ave & N Sheffield Ave')
bt_202103.loc[filt_e1, 'start_station_id'] = 1436495105198659242

filt_e2 = (bt_202103['end_station_name'] == 'W Armitage Ave & N Sheffield Ave')
bt_202103.loc[filt_e2, 'end_station_id'] = 1436495105198659242

In [106]:
# update station's id with name of 'W Washington Blvd & N Peoria St'
filt_f1 = (bt_202103['start_station_name'] == 'W Washington Blvd & N Peoria St')
bt_202103.loc[filt_f1, 'start_station_id'] = 1436495109493626544

filt_f2 = (bt_202103['end_station_name'] == 'W Washington Blvd & N Peoria St')
bt_202103.loc[filt_f2, 'end_station_id'] = 1436495109493626544

In [107]:
# update station's id with name of 'N Paulina St & Lincoln Ave'
filt_g1 = (bt_202103['start_station_name'] == 'N Paulina St & Lincoln Ave')
bt_202103.loc[filt_g1, 'start_station_id'] = 1436495122378528446
              
filt_g2 = (bt_202103['end_station_name'] == 'N Paulina St & Lincoln Ave')
bt_202103.loc[filt_g2, 'end_station_id'] = 1436495122378528446

In [108]:
# update station's id with name of 'Halsted & 63rd - Kennedy-King Vaccination Site'
filt_h1 = (bt_202103['start_station_name'] == 'Halsted & 63rd - Kennedy-King Vaccination Site')
bt_202103.loc[filt_h1, 'start_station_id'] = 388

filt_h2 = (bt_202103['end_station_name'] == 'Halsted & 63rd - Kennedy-King Vaccination Site')
bt_202103.loc[filt_h2, 'end_station_id'] = 388

In [109]:
# update station's id with name of 'Kedzie Ave & 110th St'
filt_i1 = (bt_202103['start_station_name'] == 'Kedzie Ave & 110th St')
bt_202103.loc[filt_i1, 'start_station_id'] = 736

filt_i2 = (bt_202103['end_station_name'] == 'Kedzie Ave & 110th St')
bt_202103.loc[filt_i2, 'end_station_id'] = 736

In [110]:
# update station's id with name of 'N Carpenter St & W Lake St'
filt_j1 = (bt_202103['start_station_name'] == 'N Carpenter St & W Lake St')
bt_202103.loc[filt_j1, 'start_station_id'] = 1436495105198659246

filt_j2 = (bt_202103['end_station_name'] == 'N Carpenter St & W Lake St')
bt_202103.loc[filt_j2, 'end_station_id'] = 1436495105198659246

In [111]:
# update station's id with name of 'Malcolm X College Vaccination Site'
filt_k1 = (bt_202103['start_station_name'] == 'Malcolm X College Vaccination Site')
bt_202103.loc[filt_k1, 'start_station_id'] = 631

filt_k2 = (bt_202103['end_station_name'] == 'Malcolm X College Vaccination Site')
bt_202103.loc[filt_k2, 'end_station_id'] = 631

In [112]:
# update station's id with name of 'N Sheffield Ave & W Wellington Ave'
filt_l1 = (bt_202103['start_station_name'] == 'N Sheffield Ave & W Wellington Ave')
bt_202103.loc[filt_l1, 'start_station_id'] = 1436495118083561146

filt_l2 = (bt_202103['end_station_name'] == 'N Sheffield Ave & W Wellington Ave')
bt_202103.loc[filt_l2, 'end_station_id'] = 1436495118083561146

In [113]:
# update station's id with name of 'W Oakdale Ave & N Broadway'
filt_m1 = (bt_202103['start_station_name'] == 'W Oakdale Ave & N Broadway')
bt_202103.loc[filt_m1, 'start_station_id'] = 1436495100903691938

filt_m2 = (bt_202103['end_station_name'] == 'W Oakdale Ave & N Broadway')
bt_202103.loc[filt_m2, 'end_station_id'] = 1436495100903691938

In [114]:
# update station's id with name of 'N Southport Ave & W Newport Ave'
filt_n1 = (bt_202103['start_station_name'] == 'N Southport Ave & W Newport Ave')
bt_202103.loc[filt_n1, 'start_station_id'] = 1436495115557663136

filt_n2 = (bt_202103['end_station_name'] == 'N Southport Ave & W Newport Ave')
bt_202103.loc[filt_n2, 'end_station_id'] = 1436495115557663136

In [115]:
# update station's id with name of 'N Green St & W Lake St'
filt_o1 = (bt_202103['start_station_name'] == 'N Green St & W Lake St')
bt_202103.loc[filt_o1, 'start_station_id'] = 1436495109493626546

filt_o2 = (bt_202103['end_station_name'] == 'N Green St & W Lake St')
bt_202103.loc[filt_o2, 'end_station_id'] = 1436495109493626546

### 3. Save cleaned datasets

In [116]:
bt_202004.to_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/cleaned_datasets/bt_202004.csv', index=False)
bt_202005.to_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/cleaned_datasets/bt_202005.csv', index=False)
bt_202006.to_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/cleaned_datasets/bt_202006.csv', index=False)
bt_202007.to_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/cleaned_datasets/bt_202007.csv', index=False)
bt_202008.to_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/cleaned_datasets/bt_202008.csv', index=False)
bt_202009.to_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/cleaned_datasets/bt_202009.csv', index=False)
bt_202010.to_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/cleaned_datasets/bt_202010.csv', index=False)
bt_202011.to_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/cleaned_datasets/bt_202011.csv', index=False)
bt_202012.to_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/cleaned_datasets/bt_202012.csv', index=False)
bt_202101.to_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/cleaned_datasets/bt_202101.csv', index=False)
bt_202102.to_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/cleaned_datasets/bt_202102.csv', index=False)
bt_202103.to_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/cleaned_datasets/bt_202103.csv', index=False)

In [118]:
test1 = pd.read_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/cleaned_datasets/bt_202004.csv')
test1.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,A847FADBBC638E45,docked_bike,2020-04-26 17:45:14,2020-04-26 18:12:03,Eckhart Park,86,Lincoln Ave & Diversey Pkwy,152,41.8964,-87.6610,41.9322,-87.6586,member
1,5405B80E996FF60D,docked_bike,2020-04-17 17:08:54,2020-04-17 17:17:03,Drake Ave & Fullerton Ave,503,Kosciuszko Park,499,41.9244,-87.7154,41.9306,-87.7238,member
2,5DD24A79A4E006F4,docked_bike,2020-04-01 17:54:13,2020-04-01 18:08:36,McClurg Ct & Erie St,142,Indiana Ave & Roosevelt Rd,255,41.8945,-87.6179,41.8679,-87.6230,member
3,2A59BBDF5CDBA725,docked_bike,2020-04-07 12:50:19,2020-04-07 13:02:31,California Ave & Division St,216,Wood St & Augusta Blvd,657,41.9030,-87.6975,41.8992,-87.6722,member
4,27AD306C119C6158,docked_bike,2020-04-18 10:22:59,2020-04-18 11:15:54,Rush St & Hubbard St,125,Sheridan Rd & Lawrence Ave,323,41.8902,-87.6262,41.9695,-87.6547,casual

In [119]:
test1.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id        int64
end_station_name       object
end_station_id          int64
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object