<h2 align='center'> Cyclistic: a bike-share program </h2>

<h4 align='center'> (Part 1: Data Cleaning & Transformation) </h4>

### 1. Import libraries and datasets

In [1]:
import pandas as pd

In [2]:
bt_202004 = pd.read_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/original_datasets/202004-divvy-tripdata.csv')
bt_202005 = pd.read_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/original_datasets/202005-divvy-tripdata.csv')
bt_202006 = pd.read_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/original_datasets/202006-divvy-tripdata.csv')
bt_202007 = pd.read_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/original_datasets/202007-divvy-tripdata.csv')
bt_202008 = pd.read_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/original_datasets/202008-divvy-tripdata.csv')
bt_202009 = pd.read_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/original_datasets/202009-divvy-tripdata.csv')
bt_202010 = pd.read_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/original_datasets/202010-divvy-tripdata.csv')
bt_202011 = pd.read_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/original_datasets/202011-divvy-tripdata.csv')
bt_202012 = pd.read_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/original_datasets/202012-divvy-tripdata.csv')
bt_202101 = pd.read_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/original_datasets/202101-divvy-tripdata.csv')
bt_202102 = pd.read_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/original_datasets/202102-divvy-tripdata.csv')
bt_202103 = pd.read_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/original_datasets/202103-divvy-tripdata.csv')

### 2. Examine datasets

<span style="color:Green;">(2-1) dataset: bike trips of April 2020 </span>

In [3]:
bt_202004.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,A847FADBBC638E45,docked_bike,2020-04-26 17:45:14,2020-04-26 18:12:03,Eckhart Park,86,Lincoln Ave & Diversey Pkwy,152.0,41.8964,-87.6610,41.9322,-87.6586,member
1,5405B80E996FF60D,docked_bike,2020-04-17 17:08:54,2020-04-17 17:17:03,Drake Ave & Fullerton Ave,503,Kosciuszko Park,499.0,41.9244,-87.7154,41.9306,-87.7238,member
2,5DD24A79A4E006F4,docked_bike,2020-04-01 17:54:13,2020-04-01 18:08:36,McClurg Ct & Erie St,142,Indiana Ave & Roosevelt Rd,255.0,41.8945,-87.6179,41.8679,-87.6230,member
3,2A59BBDF5CDBA725,docked_bike,2020-04-07 12:50:19,2020-04-07 13:02:31,California Ave & Division St,216,Wood St & Augusta Blvd,657.0,41.9030,-87.6975,41.8992,-87.6722,member
4,27AD306C119C6158,docked_bike,2020-04-18 10:22:59,2020-04-18 11:15:54,Rush St & Hubbard St,125,Sheridan Rd & Lawrence Ave,323.0,41.8902,-87.6262,41.9695,-87.6547,casual

In [4]:
bt_202004.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id        int64
end_station_name       object
end_station_id        float64
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [5]:
bt_202004.isna().sum()

ride_id                0
rideable_type          0
started_at             0
ended_at               0
start_station_name     0
start_station_id       0
end_station_name      99
end_station_id        99
start_lat              0
start_lng              0
end_lat               99
end_lng               99
member_casual          0
dtype: int64

In [6]:
# drop all NAN values in bt_202004
bt_202004.dropna(inplace=True)

In [7]:
# convert 'end_station_id' column from floating points to integers
bt_202004['end_station_id'] = bt_202004['end_station_id'].astype('int64')

<h4 style="color:Blue;">The "started_at" column and the "ended_at" column are objects which they should be datetimes. However, I will leave them as-is for now (in fact, I will leave these two columns in all datasets) since my goal for the initial data cleaning is mainly clean out invalid and incorrect data.</h4>

<h4 style="color:Green;">(2-2) dataset: bike trips of May 2020</h4>

In [14]:
bt_202005.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,02668AD35674B983,docked_bike,2020-05-27 10:03:52,2020-05-27 10:16:49,Franklin St & Jackson Blvd,36,Wabash Ave & Grand Ave,199,41.8777,-87.6353,41.8915,-87.6268,member
1,7A50CCAF1EDDB28F,docked_bike,2020-05-25 10:47:11,2020-05-25 11:05:40,Clark St & Wrightwood Ave,340,Clark St & Leland Ave,326,41.9295,-87.6431,41.9671,-87.6674,casual
2,2FFCDFDB91FE9A52,docked_bike,2020-05-02 14:11:03,2020-05-02 15:48:21,Kedzie Ave & Milwaukee Ave,260,Kedzie Ave & Milwaukee Ave,260,41.9296,-87.7079,41.9296,-87.7079,casual
3,58991CF1DB75BA84,docked_bike,2020-05-02 16:25:36,2020-05-02 16:39:28,Clarendon Ave & Leland Ave,251,Lake Shore Dr & Wellington Ave,157,41.9680,-87.6500,41.9367,-87.6368,casual
4,A79651EFECC268CD,docked_bike,2020-05-29 12:49:54,2020-05-29 13:27:11,Hermitage Ave & Polk St,261,Halsted St & Archer Ave,206,41.8715,-87.6699,41.8472,-87.6468,member

In [8]:
bt_202005.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id        int64
end_station_name       object
end_station_id        float64
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [9]:
bt_202005.isna().sum()

ride_id                 0
rideable_type           0
started_at              0
ended_at                0
start_station_name      0
start_station_id        0
end_station_name      321
end_station_id        321
start_lat               0
start_lng               0
end_lat               321
end_lng               321
member_casual           0
dtype: int64

In [10]:
# drop all NAN values in bt_202005
bt_202005.dropna(inplace=True)

In [11]:
# convert 'end_station_id' from floating points to integers
bt_202005['end_station_id'] = bt_202005['end_station_id'].astype('int64')

<h4 style="color:Green;">(2-3) dataset: bike trips of June 2020</h4>

In [15]:
bt_202006.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,8CD5DE2C2B6C4CFC,docked_bike,2020-06-13 23:24:48,2020-06-13 23:36:55,Wilton Ave & Belmont Ave,117,Damen Ave & Clybourn Ave,163.0,41.940180,-87.653040,41.931931,-87.677856,casual
1,9A191EB2C751D85D,docked_bike,2020-06-26 07:26:10,2020-06-26 07:31:58,Federal St & Polk St,41,Daley Center Plaza,81.0,41.872077,-87.629543,41.884241,-87.629634,member
2,F37D14B0B5659BCF,docked_bike,2020-06-23 17:12:41,2020-06-23 17:21:14,Daley Center Plaza,81,State St & Harrison St,5.0,41.884241,-87.629634,41.874053,-87.627716,member
3,C41237B506E85FA1,docked_bike,2020-06-20 01:09:35,2020-06-20 01:28:24,Broadway & Cornelia Ave,303,Broadway & Berwyn Ave,294.0,41.945529,-87.646439,41.978353,-87.659753,casual
4,4B51B3B0BDA7787C,docked_bike,2020-06-25 16:59:25,2020-06-25 17:08:48,Sheffield Ave & Webster Ave,327,Wilton Ave & Belmont Ave,117.0,41.921540,-87.653818,41.940180,-87.653040,casual

In [12]:
bt_202006.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id        int64
end_station_name       object
end_station_id        float64
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [13]:
bt_202006.isna().sum()

ride_id                 0
rideable_type           0
started_at              0
ended_at                0
start_station_name      0
start_station_id        0
end_station_name      468
end_station_id        468
start_lat               0
start_lng               0
end_lat               468
end_lng               468
member_casual           0
dtype: int64

In [16]:
# drop all NAN values in bt_202006
bt_202006.dropna(inplace=True)

In [17]:
# convert 'end_station_id' from floating points to integers
bt_202006['end_station_id'] = bt_202006['end_station_id'].astype('int64')

<h4 style="color:Green;">(2-4) dataset: bike trips of July 2020</h4>

In [18]:
bt_202007.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,762198876D69004D,docked_bike,2020-07-09 15:22:02,2020-07-09 15:25:52,Ritchie Ct & Banks St,180.0,Wells St & Evergreen Ave,291.0,41.906866,-87.626217,41.906724,-87.634830,member
1,BEC9C9FBA0D4CF1B,docked_bike,2020-07-24 23:56:30,2020-07-25 00:20:17,Halsted St & Roscoe St,299.0,Broadway & Ridge Ave,461.0,41.943670,-87.648950,41.984045,-87.660274,member
2,D2FD8EA432C77EC1,docked_bike,2020-07-08 19:49:07,2020-07-08 19:56:22,Lake Shore Dr & Diversey Pkwy,329.0,Clark St & Wellington Ave,156.0,41.932588,-87.636427,41.936497,-87.647539,casual
3,54AE594E20B35881,docked_bike,2020-07-17 19:06:42,2020-07-17 19:27:38,LaSalle St & Illinois St,181.0,Clark St & Armitage Ave,94.0,41.890762,-87.631697,41.918306,-87.636282,casual
4,54025FDC7440B56F,docked_bike,2020-07-04 10:39:57,2020-07-04 10:45:05,Lake Shore Dr & North Blvd,268.0,Clark St & Schiller St,301.0,41.911722,-87.626804,41.907993,-87.631501,member

In [19]:
bt_202007.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id      float64
end_station_name       object
end_station_id        float64
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [20]:
bt_202007.isna().sum()

ride_id                 0
rideable_type           0
started_at              0
ended_at                0
start_station_name    149
start_station_id      152
end_station_name      967
end_station_id        969
start_lat               0
start_lng               0
end_lat               770
end_lng               770
member_casual           0
dtype: int64

In [21]:
# drop all NAN values in bt_202007
bt_202007.dropna(inplace=True)

In [22]:
# convert 'start_station_id' column from floating points to integers
bt_202007['start_station_id'] = bt_202007['start_station_id'].astype('int64')

# convert 'end_station_id' column from floating points to integers
bt_202007['end_station_id'] = bt_202007['end_station_id'].astype('int64')

<h4 style="color:Green;">(2-5) dataset: bike trips of August 2020</h4>

In [23]:
bt_202008.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,322BD23D287743ED,docked_bike,2020-08-20 18:08:14,2020-08-20 18:17:51,Lake Shore Dr & Diversey Pkwy,329.0,Clark St & Lincoln Ave,141.0,41.932588,-87.636427,41.915689,-87.634600,member
1,2A3AEF1AB9054D8B,electric_bike,2020-08-27 18:46:04,2020-08-27 19:54:51,Michigan Ave & 14th St,168.0,Michigan Ave & 14th St,168.0,41.864379,-87.623681,41.864221,-87.623439,casual
2,67DC1D133E8B5816,electric_bike,2020-08-26 19:44:14,2020-08-26 21:53:07,Columbus Dr & Randolph St,195.0,State St & Randolph St,44.0,41.884641,-87.619549,41.884971,-87.627574,casual
3,C79FBBD412E578A7,electric_bike,2020-08-27 12:05:41,2020-08-27 12:53:45,Daley Center Plaza,81.0,State St & Kinzie St,47.0,41.884093,-87.629639,41.889583,-87.627540,casual
4,13814D3D661ECADB,electric_bike,2020-08-27 16:49:02,2020-08-27 16:59:49,Leavitt St & Division St,658.0,Leavitt St & Division St,658.0,41.902989,-87.683767,41.903002,-87.683844,casual

In [24]:
bt_202008.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id      float64
end_station_name       object
end_station_id        float64
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [25]:
bt_202008.isna().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name     7595
start_station_id       7691
end_station_name      10035
end_station_id        10110
start_lat                 0
start_lng                 0
end_lat                 938
end_lng                 938
member_casual             0
dtype: int64

In [26]:
# drop all NAN values in bt_202008
bt_202008.dropna(inplace=True)

In [27]:
# convert 'start_station_id' column from floating points to integers
bt_202008['start_station_id'] = bt_202008['start_station_id'].astype('int64')

# convert 'end_station_id' column from floating points to integers
bt_202008['end_station_id'] = bt_202008['end_station_id'].astype('int64')

<h4 style="color:Green;">(2-6) dataset: bike trips of September 2020</h4>

In [28]:
bt_202009.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,2B22BD5F95FB2629,electric_bike,2020-09-17 14:27:11,2020-09-17 14:44:24,Michigan Ave & Lake St,52.0,Green St & Randolph St,112.0,41.886692,-87.623561,41.883571,-87.648731,casual
1,A7FB70B4AFC6CAF2,electric_bike,2020-09-17 15:07:31,2020-09-17 15:07:45,W Oakdale Ave & N Broadway,NaN,W Oakdale Ave & N Broadway,NaN,41.940000,-87.640000,41.940000,-87.640000,casual
2,86057FA01BAC778E,electric_bike,2020-09-17 15:09:04,2020-09-17 15:09:35,W Oakdale Ave & N Broadway,NaN,W Oakdale Ave & N Broadway,NaN,41.940000,-87.640000,41.940000,-87.640000,casual
3,57F6DC9A153DB98C,electric_bike,2020-09-17 18:10:46,2020-09-17 18:35:49,Ashland Ave & Belle Plaine Ave,246.0,Montrose Harbor,249.0,41.956060,-87.668917,41.963985,-87.638216,casual
4,B9C4712F78C1AE68,electric_bike,2020-09-17 15:16:13,2020-09-17 15:52:55,Fairbanks Ct & Grand Ave,24.0,Fairbanks Ct & Grand Ave,24.0,41.891859,-87.621008,41.891346,-87.620325,casual

In [29]:
bt_202009.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id      float64
end_station_name       object
end_station_id        float64
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [30]:
bt_202009.isna().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name    19691
start_station_id      19901
end_station_name      23373
end_station_id        23524
start_lat                 0
start_lng                 0
end_lat                 789
end_lng                 789
member_casual             0
dtype: int64

In [31]:
# drop all NAN values in bt_202009
bt_202009.dropna(inplace=True)

In [32]:
# convert 'start_station_id' column from floating points to integers
bt_202009['start_station_id'] = bt_202009['start_station_id'].astype('int64')

# convert 'end_station_id' column from floating points to integers
bt_202009['end_station_id'] = bt_202009['end_station_id'].astype('int64')

<h4 style="color:Green;">(2-7) dataset: bike trips of October 2020</h4>

In [33]:
bt_202010.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,ACB6B40CF5B9044C,electric_bike,2020-10-31 19:39:43,2020-10-31 19:57:12,Lakeview Ave & Fullerton Pkwy,313.0,Rush St & Hubbard St,125.0,41.926101,-87.638977,41.890345,-87.626068,casual
1,DF450C72FD109C01,electric_bike,2020-10-31 23:50:08,2020-11-01 00:04:16,Southport Ave & Waveland Ave,227.0,Kedzie Ave & Milwaukee Ave,260.0,41.948172,-87.663911,41.929528,-87.707818,casual
2,B6396B54A15AC0DF,electric_bike,2020-10-31 23:00:01,2020-10-31 23:08:22,Stony Island Ave & 67th St,102.0,University Ave & 57th St,423.0,41.773462,-87.585372,41.791455,-87.600050,casual
3,44A4AEE261B9E854,electric_bike,2020-10-31 22:16:43,2020-10-31 22:19:35,Clark St & Grace St,165.0,Broadway & Sheridan Rd,256.0,41.950855,-87.659244,41.952809,-87.650103,casual
4,10B7DD76A6A2EB95,electric_bike,2020-10-31 19:38:19,2020-10-31 19:54:32,Southport Ave & Wrightwood Ave,190.0,Stave St & Armitage Ave,185.0,41.928857,-87.663962,41.917777,-87.691434,casual

In [34]:
bt_202010.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id      float64
end_station_name       object
end_station_id        float64
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [35]:
bt_202010.isna().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name    31198
start_station_id      31405
end_station_name      35631
end_station_id        35787
start_lat                 0
start_lng                 0
end_lat                 474
end_lng                 474
member_casual             0
dtype: int64

In [36]:
# drop all NAN values in bt_202010
bt_202010.dropna(inplace=True)

In [37]:
# convert 'start_station_id' column from floating points to integers
bt_202010['start_station_id'] = bt_202010['start_station_id'].astype('int64')

# convert 'end_station_id' column from floating points to integers
bt_202010['end_station_id'] = bt_202010['end_station_id'].astype('int64')

<h4 style="color:Green;">(2-8) dataset: bike trips of November 2020</h4>

In [38]:
bt_202011.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,BD0A6FF6FFF9B921,electric_bike,2020-11-01 13:36:00,2020-11-01 13:45:40,Dearborn St & Erie St,110.0,St. Clair St & Erie St,211.0,41.894177,-87.629127,41.894434,-87.623379,casual
1,96A7A7A4BDE4F82D,electric_bike,2020-11-01 10:03:26,2020-11-01 10:14:45,Franklin St & Illinois St,672.0,Noble St & Milwaukee Ave,29.0,41.890959,-87.635343,41.900675,-87.662480,casual
2,C61526D06582BDC5,electric_bike,2020-11-01 00:34:05,2020-11-01 01:03:06,Lake Shore Dr & Monroe St,76.0,Federal St & Polk St,41.0,41.880983,-87.616754,41.872054,-87.629550,casual
3,E533E89C32080B9E,electric_bike,2020-11-01 00:45:16,2020-11-01 00:54:31,Leavitt St & Chicago Ave,659.0,Stave St & Armitage Ave,185.0,41.895499,-87.682013,41.917744,-87.691392,casual
4,1C9F4EF18C168C60,electric_bike,2020-11-01 15:43:25,2020-11-01 16:16:52,Buckingham Fountain,2.0,Buckingham Fountain,2.0,41.876497,-87.620358,41.876448,-87.620338,casual

In [39]:
bt_202011.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id      float64
end_station_name       object
end_station_id        float64
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [40]:
bt_202011.isna().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name    24324
start_station_id      24434
end_station_name      26749
end_station_id        26826
start_lat                 0
start_lng                 0
end_lat                 284
end_lng                 284
member_casual             0
dtype: int64

In [41]:
# drop all NAN values in bt_202011
bt_202011.dropna(inplace=True)

In [42]:
# convert 'start_station_id' column from floating points to integers
bt_202011['start_station_id'] = bt_202011['start_station_id'].astype('int64')

# convert 'end_station_id' column from floating points to integers
bt_202011['end_station_id'] = bt_202011['end_station_id'].astype('int64')

<h4 style="color:Green;">(2-9) dataset: bike trips of December 2020</h4>

In [43]:
bt_202012.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,70B6A9A437D4C30D,classic_bike,2020-12-27 12:44:29,2020-12-27 12:55:06,Aberdeen St & Jackson Blvd,13157,Desplaines St & Kinzie St,TA1306000003,41.877726,-87.654787,41.888716,-87.644448,member
1,158A465D4E74C54A,electric_bike,2020-12-18 17:37:15,2020-12-18 17:44:19,NaN,NaN,NaN,NaN,41.930000,-87.700000,41.910000,-87.700000,member
2,5262016E0F1F2F9A,electric_bike,2020-12-15 15:04:33,2020-12-15 15:11:28,NaN,NaN,NaN,NaN,41.910000,-87.690000,41.930000,-87.700000,member
3,BE119628E44F871E,electric_bike,2020-12-15 15:54:18,2020-12-15 16:00:11,NaN,NaN,NaN,NaN,41.920000,-87.700000,41.910000,-87.700000,member
4,69AF78D57854E110,electric_bike,2020-12-22 12:08:17,2020-12-22 12:10:59,NaN,NaN,NaN,NaN,41.800000,-87.590000,41.800000,-87.590000,member

In [44]:
bt_202012.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [45]:
bt_202012.isna().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name    11699
start_station_id      11699
end_station_name      13237
end_station_id        13237
start_lat                 0
start_lng                 0
end_lat                 111
end_lng                 111
member_casual             0
dtype: int64

In [46]:
# drop all NAN values in bt_202012
bt_202012.dropna(inplace=True)

<h4 style="color:Red;"> After examinging the 'start_station_id' column and 'end_station_id' in this dataset, I found an inconsistency issue between station ids and their corresponding names. Specifically, if a start or end station's name is "Rhodes Ave & 32nd St", then its corresponding id is 263 in all previous nine datasets, but in this dataset it is associated with id 13215. </h4>
    
<h4 style="color:Red;"> Therefore, I will re-validate the correct ids from cross-referecing all previous datasets, and then cast these two columns into integer datatype. </h4>

In [47]:
# get all pairs of station names and ids from previous 8 datasets

station_id = dict(zip(bt_202004['start_station_name'], bt_202004['start_station_id']))
station_id.update(zip(bt_202004['end_station_name'], bt_202004['end_station_id']))

station_id.update(zip(bt_202005['start_station_name'], bt_202005['start_station_id']))
station_id.update(zip(bt_202005['end_station_name'], bt_202005['end_station_id']))

station_id.update(zip(bt_202006['start_station_name'], bt_202006['start_station_id']))
station_id.update(zip(bt_202006['end_station_name'], bt_202006['end_station_id']))

station_id.update(zip(bt_202007['start_station_name'], bt_202007['start_station_id']))
station_id.update(zip(bt_202007['end_station_name'], bt_202007['end_station_id']))

station_id.update(zip(bt_202008['start_station_name'], bt_202008['start_station_id']))
station_id.update(zip(bt_202008['end_station_name'], bt_202005['end_station_id']))

station_id.update(zip(bt_202009['start_station_name'], bt_202009['start_station_id']))
station_id.update(zip(bt_202009['end_station_name'], bt_202009['end_station_id']))

station_id.update(zip(bt_202010['start_station_name'], bt_202010['start_station_id']))
station_id.update(zip(bt_202010['end_station_name'], bt_202010['end_station_id']))

station_id.update(zip(bt_202011['start_station_name'], bt_202011['start_station_id']))
station_id.update(zip(bt_202011['end_station_name'], bt_202011['end_station_id']))

<h4 style="color:Blue;"> The function 'correct_station_name_id' below will grab all start station names and end station names from the input dataframe, determine if each station's name appears in the previous 8 datasets: </h4>

- <p style="color:Blue;"> if it does exist, update its corresponding id from the input dataframe to the correct one; </p>
- <p style="color:Blue;"> if it does not exist, mark the station's name in a list 'not_changed' for further cleaning.</p>

In [48]:
not_changed = list()

def correct_station_name_id(dataframe):
    start_station_names = set(dataframe['start_station_name'])
    end_station_names = set(dataframe['end_station_name'])
    
    # correct start_station_ids in the dataset
    for name in start_station_names:
        if name not in station_id.keys():
            not_changed.append(name) # catch exceptions in case any station name haven't appeared in previous 8 datasets
        else:
            dataframe.loc[dataframe['start_station_name'] == name, 'start_station_id'] = station_id[name]
    
    # correct end_station_ids in the dataset
    for name in end_station_names:
        if name in not_changed:
            continue
        elif name not in station_id.keys():
            not_changed.append(name) # catch exceptions in case any station name haven't appeared in previous 8 datasets
        else:
            dataframe.loc[dataframe['end_station_name'] == name, 'end_station_id'] = station_id[name]
    
    print('These stations below are not existed in the previous 8 datasets:')
    return not_changed

In [49]:
# update stations' ids in bt_202012 and catch stations that're not existed from previous 8 datasets
correct_station_name_id(bt_202012)

These stations below are not existed in the previous 8 datasets:

['W Armitage Ave & N Sheffield Ave',
 'Base - 2132 W Hubbard Warehouse',
 'W Oakdale Ave & N Broadway',
 'N Green St & W Lake St',
 'N Carpenter St & W Lake St']

<h4 style="color:Red;"> As showed above, 5 station names were caught as exceptions in the list not_changed </h4>
    
<h4 style="color:Red;"> Meanwhile, I've examined the rest 3 datasets, and I found in these 3 datasets these 5 station names and their corresponding ids are not correct as well. </h4>

<h4 style="color:Blue;"> Therefore, I've found the official dataset of all Divvy Bicycle Stations at <a href="https://data.cityofchicago.org/d/bbyy-e7gq?category=Transportation&view_name=Divvy-Bicycle-Stations"> here </a> on <a href="httP://data.cityofchicago.org"> The Chicago Data Portal website </a></h4>

<h4 style="color:Blue;"> I will download this dataset and import it below as the official reference to get the correct station names and/or corresponding ids.</h4>

In [50]:
# import the official bike stations information dataset
official_station_info = pd.read_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/original_datasets/official_bike_stations_info.csv')

# get the station name and id in pairs from the official station information dataset
official_station_name_id = dict(zip(official_station_info['Station Name'], official_station_info['ID']))

In [51]:
# get the correct id of each station that're not existed in the previous 8 datasets from the official stations information dataset
def get_correct_id():
    cannot_find_this_station = []
    for name in not_changed:
        if name not in official_station_name_id.keys():
            if name not in cannot_find_this_station:
                cannot_find_this_station.append(name)
        else:
            correct_id = official_station_name_id[name]
            print(name, ': ', correct_id)
            #print('and its correct id found in the official stations information dataset is: ', correct_id)
            print()
    
    print('These stations below cannot be found in the official stations information dataset:')
    return cannot_find_this_station

In [52]:
# get the correct ids of exceptional stations in list not_changed
get_correct_id()

W Armitage Ave & N Sheffield Ave :  1436495105198659242

W Oakdale Ave & N Broadway :  1436495100903691938

N Green St & W Lake St :  1436495109493626546

N Carpenter St & W Lake St :  1436495105198659246

These stations below cannot be found in the official stations information dataset:

['Base - 2132 W Hubbard Warehouse']

<h4 style="color:red;"> The station 'Base - 2132 W Hubbard Warehouse' cannot be found in the official station information dataset. Due to lack of information, I will drop these records. </h4>

In [53]:
# drop records with start_station_name as 'Base - 2132 W Hubbard Warehouse'
bt_202012.drop(bt_202012[bt_202012['start_station_name'] == 'Base - 2132 W Hubbard Warehouse'].index, inplace=True)

# drop records with end_station_name as 'Base - 2132 W Hubbard Warehouse'
bt_202012.drop(bt_202012[bt_202012['end_station_name'] == 'Base - 2132 W Hubbard Warehouse'].index, inplace=True)

<h4 style="color:blue;"> For the other 4 stations, I will manually update the ids in bt_202012 </h4>

In [54]:
# update station's id with name of 'N Green St & W Lake St'
filt_a1 = (bt_202012['start_station_name'] == 'N Green St & W Lake St')
bt_202012.loc[filt_a1, 'start_station_id'] = 1436495109493626546

filt_a2 = (bt_202012['end_station_name'] == 'N Green St & W Lake St')
bt_202012.loc[filt_a2, 'end_station_id'] = 1436495109493626546

In [55]:
# update station's id with name of 'W Oakdale Ave & N Broadway'
filt_b1 = (bt_202012['start_station_name'] == 'W Oakdale Ave & N Broadway')
bt_202012.loc[filt_b1, 'start_station_id'] = 1436495100903691938

filt_b2 = (bt_202012['end_station_name'] == 'W Oakdale Ave & N Broadway')
bt_202012.loc[filt_b2, 'end_station_id'] = 1436495100903691938

In [56]:
# update station's id with name of 'W Armitage Ave & N Sheffield Ave'
filt_c1 = (bt_202012['start_station_name'] == 'W Armitage Ave & N Sheffield Ave')
bt_202012.loc[filt_c1, 'start_station_id'] = 1436495105198659242

filt_c2 = (bt_202012['end_station_name'] == 'W Armitage Ave & N Sheffield Ave')
bt_202012.loc[filt_c2, 'end_station_id'] = 1436495105198659242

In [57]:
# update station's id with name of 'N Carpenter St & W Lake St'
filt_d1 = (bt_202012['start_station_name'] == 'N Carpenter St & W Lake St')
bt_202012.loc[filt_d1, 'start_station_id'] = 1436495105198659246

filt_d2 = (bt_202012['end_station_name'] == 'N Carpenter St & W Lake St')
bt_202012.loc[filt_d2, 'end_station_id'] = 1436495105198659246

<h4 style="color:green;"> (2-10) dataset: bike trips of January 2021 </h4>

In [58]:
bt_202101.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,E19E6F1B8D4C42ED,electric_bike,2021-01-23 16:14:19,2021-01-23 16:24:44,California Ave & Cortez St,17660,NaN,NaN,41.900341,-87.696743,41.89,-87.72,member
1,DC88F20C2C55F27F,electric_bike,2021-01-27 18:43:08,2021-01-27 18:47:12,California Ave & Cortez St,17660,NaN,NaN,41.900333,-87.696707,41.90,-87.69,member
2,EC45C94683FE3F27,electric_bike,2021-01-21 22:35:54,2021-01-21 22:37:14,California Ave & Cortez St,17660,NaN,NaN,41.900313,-87.696643,41.90,-87.70,member
3,4FA453A75AE377DB,electric_bike,2021-01-07 13:31:13,2021-01-07 13:42:55,California Ave & Cortez St,17660,NaN,NaN,41.900399,-87.696662,41.92,-87.69,member
4,BE5E8EB4E7263A0B,electric_bike,2021-01-23 02:24:02,2021-01-23 02:24:45,California Ave & Cortez St,17660,NaN,NaN,41.900326,-87.696697,41.90,-87.70,casual

In [59]:
bt_202101.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [60]:
bt_202101.isna().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name     8625
start_station_id       8625
end_station_name      10277
end_station_id        10277
start_lat                 0
start_lng                 0
end_lat                 103
end_lng                 103
member_casual             0
dtype: int64

In [61]:
# drop all NAN values in bt_202101
bt_202101.dropna(inplace=True)

<h4 style="color:red;"> After examinging the 'start_station_id' column and 'end_station_id' in this dataset, I found the same inconsistency issue between station ids and their corresponding names as before. </h4>
    
<h4 style="color:blue;"> Therefore, I will re-run the whole process of validating station names with corresponding ids as before using: </h4>

- <p style="color:blue;"> the official stations information dataset from Chicago Data Portral website;</p>
- <p style="color:blue;"> the dictionary "station_id" of all stations and ids existed in the previous 8 datasets;</p>
- <p style="color:blue;"> the function "correct_station_name_id" to either update ids or catch exceptions;</p>
- <p style="color:blue;"> the function "get_correct_id" to grab the correct ids for exceptions.</p>

In [62]:
# reset the not_changed list to empty
not_changed = []

# update stations' ids in bt_202101 or catch stations that're not existed from previous 8 datasets
correct_station_name_id(bt_202101)

These stations below are not existed in the previous 8 datasets:

['Malcolm X College Vaccination Site',
 'N Sheffield Ave & W Wellington Ave',
 'N Southport Ave & W Newport Ave',
 'W Armitage Ave & N Sheffield Ave',
 'N Paulina St & Lincoln Ave',
 'Base - 2132 W Hubbard Warehouse',
 'W Oakdale Ave & N Broadway',
 'Broadway & Wilson - Truman College Vaccination Site',
 'N Green St & W Lake St',
 'N Carpenter St & W Lake St',
 'N Damen Ave & W Wabansia St',
 'Western & 28th - Velasquez Institute Vaccination Site',
 'W Washington Blvd & N Peoria St',
 'Avenue L & 114th St']

In [63]:
# get the correct ids of exceptional stations in list not_changed
get_correct_id()

Malcolm X College Vaccination Site :  631

N Sheffield Ave & W Wellington Ave :  1436495118083561146

N Southport Ave & W Newport Ave :  1436495115557663136

W Armitage Ave & N Sheffield Ave :  1436495105198659242

N Paulina St & Lincoln Ave :  1436495122378528446

W Oakdale Ave & N Broadway :  1436495100903691938

Broadway & Wilson - Truman College Vaccination Site :  293

N Green St & W Lake St :  1436495109493626546

N Carpenter St & W Lake St :  1436495105198659246

Western & 28th - Velasquez Institute Vaccination Site :  446

W Washington Blvd & N Peoria St :  1436495109493626544

Avenue L & 114th St :  1448642175142467184

These stations below cannot be found in the official stations information dataset:

['Base - 2132 W Hubbard Warehouse', 'N Damen Ave & W Wabansia St']

<h4 style="color:red;"> The stations 'Base - 2132 W Hubbard Warehouse' and 'N Damen Ave & W Wabansia St' cannot be found in the official station information dataset. Due to lack of information, I will drop these records. </h4>

In [64]:
# drop records with start_station_name as 'Base - 2132 W Hubbard Warehouse'
bt_202101.drop(bt_202101[bt_202101['start_station_name'] == 'Base - 2132 W Hubbard Warehouse'].index, inplace=True)

# drop records with end_station_name as 'Base - 2132 W Hubbard Warehouse'
bt_202101.drop(bt_202101[bt_202101['end_station_name'] == 'Base - 2132 W Hubbard Warehouse'].index, inplace=True)

# drop records with start_station_name as 'N Damen Ave & W Wabansia St'
bt_202101.drop(bt_202101[bt_202101['start_station_name'] == 'N Damen Ave & W Wabansia St'].index, inplace=True)

# drop records with end_station_name as 'N Damen Ave & W Wabansia St'
bt_202101.drop(bt_202101[bt_202101['end_station_name'] == 'N Damen Ave & W Wabansia St'].index, inplace=True)

<h4 style="color:blue;"> For the other 12 stations, I will manually update the ids in bt_202101 </h4>

In [65]:
# update station's id with name of 'Malcolm X College Vaccination Site'
filt_a1 = (bt_202101['start_station_name'] == 'Malcolm X College Vaccination Site')
bt_202101.loc[filt_a1, 'start_station_id'] = 631

filt_a2 = (bt_202101['end_station_name'] == 'Malcolm X College Vaccination Site')
bt_202101.loc[filt_a2, 'end_station_id'] = 631

In [66]:
# update station's id with name of 'N Southport Ave & W Newport Ave'
filt_b1 = (bt_202101['start_station_name'] == 'N Southport Ave & W Newport Ave')
bt_202101.loc[filt_b1, 'start_station_id'] = 1436495115557663136

filt_b2 = (bt_202101['end_station_name'] == 'N Southport Ave & W Newport Ave')
bt_202101.loc[filt_b2, 'end_station_id'] = 1436495115557663136

In [67]:
# update station's id with name of 'N Sheffield Ave & W Wellington Ave'
filt_c1 = (bt_202101['start_station_name'] == 'N Sheffield Ave & W Wellington Ave')
bt_202101.loc[filt_c1, 'start_station_id'] = 1436495118083561146

filt_c2 = (bt_202101['end_station_name'] == 'N Sheffield Ave & W Wellington Ave')
bt_202101.loc[filt_c2, 'end_station_id'] = 1436495115557663136

In [68]:
# update station's id with name of 'N Paulina St & Lincoln Ave'
filt_d1 = (bt_202101['start_station_name'] == 'N Paulina St & Lincoln Ave')
bt_202101.loc[filt_d1, 'start_station_id'] = 1436495122378528446

In [69]:
# update station's id with name of 'N Green St & W Lake St'
filt_e1 = (bt_202101['start_station_name'] == 'N Green St & W Lake St')
bt_202101.loc[filt_e1, 'start_station_id'] = 1436495109493626546

filt_e2 = (bt_202101['end_station_name'] == 'N Green St & W Lake St')
bt_202101.loc[filt_e2, 'end_station_id'] = 1436495109493626546

In [70]:
# update station's id with name of 'W Oakdale Ave & N Broadway'
filt_f1 = (bt_202101['start_station_name'] == 'W Oakdale Ave & N Broadway')
bt_202101.loc[filt_f1, 'start_station_id'] = 1436495100903691938

filt_f2 = (bt_202101['end_station_name'] == 'W Oakdale Ave & N Broadway')
bt_202101.loc[filt_f2, 'end_station_id'] = 1436495100903691938

In [71]:
# update station's id with name of 'W Armitage Ave & N Sheffield Ave'
filt_g1 = (bt_202101['start_station_name'] == 'W Armitage Ave & N Sheffield Ave')
bt_202101.loc[filt_g1, 'start_station_id'] = 1436495105198659242

filt_g2 = (bt_202101['end_station_name'] == 'W Armitage Ave & N Sheffield Ave')
bt_202101.loc[filt_g2, 'end_station_id'] = 1436495105198659242

In [72]:
# update station's id with name of 'Broadway & Wilson - Truman College Vaccination Site'
filt_h1 = (bt_202101['start_station_name'] == 'Broadway & Wilson - Truman College Vaccination Site')
bt_202101.loc[filt_h1, 'start_station_id'] = 293

filt_h2 = (bt_202101['end_station_name'] == 'Broadway & Wilson - Truman College Vaccination Site')
bt_202101.loc[filt_h2, 'end_station_id'] = 293

In [73]:
# update station's id with name of 'N Carpenter St & W Lake St'
filt_i1 = (bt_202101['end_station_name'] == 'N Carpenter St & W Lake St')
bt_202101.loc[filt_i1, 'end_station_id'] = 1436495105198659246

In [74]:
# update station's id with name of 'Western & 28th - Velasquez Institute Vaccination Site'
filt_j1 = (bt_202101['end_station_name'] == 'Western & 28th - Velasquez Institute Vaccination Site')
bt_202101.loc[filt_j1, 'end_station_id'] = 446

In [75]:
# update station's id with name of 'W Washington Blvd & N Peoria St'
filt_k1 = (bt_202101['end_station_name'] == 'W Washington Blvd & N Peoria St')
bt_202101.loc[filt_k1, 'end_station_id'] = 1436495109493626544

In [76]:
# update station's id with name of 'Avenue L & 114th St'
filt_l1 = (bt_202101['end_station_name'] == 'Avenue L & 114th St')
bt_202101.loc[filt_l1, 'end_station_id'] = 1448642175142467184

<h4 style="color:green;"> (2-11) dataset: bike trips of Feburary 2021 </h4>

In [77]:
bt_202102.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,89E7AA6C29227EFF,classic_bike,2021-02-12 16:14:56,2021-02-12 16:21:43,Glenwood Ave & Touhy Ave,525,Sheridan Rd & Columbia Ave,660,42.012701,-87.666058,42.004583,-87.661406,member
1,0FEFDE2603568365,classic_bike,2021-02-14 17:52:38,2021-02-14 18:12:09,Glenwood Ave & Touhy Ave,525,Bosworth Ave & Howard St,16806,42.012701,-87.666058,42.019537,-87.669563,casual
2,E6159D746B2DBB91,electric_bike,2021-02-09 19:10:18,2021-02-09 19:19:10,Clark St & Lake St,KA1503000012,State St & Randolph St,TA1305000029,41.885795,-87.631101,41.884866,-87.627498,member
3,B32D3199F1C2E75B,classic_bike,2021-02-02 17:49:41,2021-02-02 17:54:06,Wood St & Chicago Ave,637,Honore St & Division St,TA1305000034,41.895634,-87.672069,41.903119,-87.673935,member
4,83E463F23575F4BF,electric_bike,2021-02-23 15:07:23,2021-02-23 15:22:37,State St & 33rd St,13216,Emerald Ave & 31st St,TA1309000055,41.834733,-87.625827,41.838163,-87.645123,member

In [78]:
bt_202102.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [79]:
bt_202102.isna().sum()

ride_id                  0
rideable_type            0
started_at               0
ended_at                 0
start_station_name    4046
start_station_id      4046
end_station_name      5358
end_station_id        5358
start_lat                0
start_lng                0
end_lat                214
end_lng                214
member_casual            0
dtype: int64

In [80]:
# drop all NAN values in bt_202102
bt_202102.dropna(inplace=True)

<h4 style="color:red;"> After examinging the 'start_station_id' column and 'end_station_id' in this dataset, I found the same inconsistency issue between station ids and their corresponding names as before. </h4>
    
<h4 style="color:blue;"> Therefore, I will re-run the whole process of validating station names with corresponding ids as before using: </h4>

- <p style="color:blue;"> the official stations information dataset from Chicago Data Portral website;</p>
- <p style="color:blue;"> the dictionary "station_id" of all stations and ids existed in the previous 8 datasets;</p>
- <p style="color:blue;"> the function "correct_station_name_id" to either update ids or catch exceptions;</p>
- <p style="color:blue;"> the function "get_correct_id" to grab the correct ids for exceptions.</p>

In [81]:
# reset the not_changed list to empty
not_changed = []

# update stations' ids in bt_202102 or catch stations that're not existed from previous 8 datasets
correct_station_name_id(bt_202102)

These stations below are not existed in the previous 8 datasets:

['Malcolm X College Vaccination Site',
 'W Armitage Ave & N Sheffield Ave',
 'N Paulina St & Lincoln Ave',
 'W Washington Blvd & N Peoria St',
 'Base - 2132 W Hubbard Warehouse',
 'W Oakdale Ave & N Broadway',
 'Broadway & Wilson - Truman College Vaccination Site',
 'N Sheffield Ave & W Wellington Ave',
 'N Carpenter St & W Lake St',
 'Western & 28th - Velasquez Institute Vaccination Site',
 'N Hampden Ct & W Diversey Ave',
 'N Green St & W Lake St']

In [82]:
# get the correct ids of exceptional stations in list not_changed
get_correct_id()

Malcolm X College Vaccination Site :  631

W Armitage Ave & N Sheffield Ave :  1436495105198659242

N Paulina St & Lincoln Ave :  1436495122378528446

W Washington Blvd & N Peoria St :  1436495109493626544

W Oakdale Ave & N Broadway :  1436495100903691938

Broadway & Wilson - Truman College Vaccination Site :  293

N Sheffield Ave & W Wellington Ave :  1436495118083561146

N Carpenter St & W Lake St :  1436495105198659246

Western & 28th - Velasquez Institute Vaccination Site :  446

N Green St & W Lake St :  1436495109493626546

These stations below cannot be found in the official stations information dataset:

['Base - 2132 W Hubbard Warehouse', 'N Hampden Ct & W Diversey Ave']

<h4 style="color:red;"> The stations 'Base - 2132 W Hubbard Warehouse' and 'N Hampden Ct & W Diversey Ave' cannot be found in the official station information dataset. Due to lack of information, I will drop these records. </h4>

In [83]:
# drop records with start_station_name as 'Base - 2132 W Hubbard Warehouse'
bt_202102.drop(bt_202102[bt_202102['start_station_name'] == 'Base - 2132 W Hubbard Warehouse'].index, inplace=True)

# drop records with end_station_name as 'Base - 2132 W Hubbard Warehouse'
bt_202102.drop(bt_202102[bt_202102['end_station_name'] == 'Base - 2132 W Hubbard Warehouse'].index, inplace=True)

# drop records with start_station_name as 'N Hampden Ct & W Diversey Ave'
bt_202102.drop(bt_202102[bt_202102['start_station_name'] == 'N Hampden Ct & W Diversey Ave'].index, inplace=True)

# drop records with end_station_name as 'N Hampden Ct & W Diversey Ave'
bt_202102.drop(bt_202102[bt_202102['end_station_name'] == 'N Hampden Ct & W Diversey Ave'].index, inplace=True)

<h4 style="color:blue;"> For the other 10 stations, I will manually update the ids in bt_202102 </h4>

In [84]:
# update station's id with name of 'Malcolm X College Vaccination Site'
filt_a1 = (bt_202102['start_station_name'] == 'Malcolm X College Vaccination Site')
bt_202102.loc[filt_a1, 'start_station_id'] = 631

filt_a2 = (bt_202102['end_station_name'] == 'Malcolm X College Vaccination Site')
bt_202102.loc[filt_a2, 'end_station_id'] = 631

In [85]:
# update station's id with name of 'N Paulina St & Lincoln Ave'
filt_b1 = (bt_202102['start_station_name'] == 'N Paulina St & Lincoln Ave')
bt_202102.loc[filt_b1, 'start_station_id'] = 1436495122378528446

filt_b2 = (bt_202102['end_station_name'] == 'N Paulina St & Lincoln Ave')
bt_202102.loc[filt_b2, 'end_station_id'] = 1436495122378528446

In [86]:
# update station's id with name of 'W Oakdale Ave & N Broadway'
filt_c1 = (bt_202102['start_station_name'] == 'W Oakdale Ave & N Broadway')
bt_202102.loc[filt_c1, 'start_station_id'] = 1436495100903691938

filt_c2 = (bt_202102['end_station_name'] == 'W Oakdale Ave & N Broadway')
bt_202102.loc[filt_c2, 'end_station_id'] = 1436495100903691938

In [87]:
# update station's id with name of 'W Washington Blvd & N Peoria St'
filt_d1 = (bt_202102['start_station_name'] == 'W Washington Blvd & N Peoria St')
bt_202102.loc[filt_d1, 'start_station_id'] = 1436495109493626544

filt_d2 = (bt_202102['end_station_name'] == 'W Washington Blvd & N Peoria St')
bt_202102.loc[filt_d2, 'end_station_id'] = 1436495109493626544

In [88]:
# update station's id with name of 'W Armitage Ave & N Sheffield Ave'
filt_e1 = (bt_202102['start_station_name'] == 'W Armitage Ave & N Sheffield Ave')
bt_202102.loc[filt_e1, 'start_station_id'] = 1436495105198659242

filt_e2 = (bt_202102['end_station_name'] == 'W Armitage Ave & N Sheffield Ave')
bt_202102.loc[filt_e2, 'end_station_id'] = 1436495105198659242

In [89]:
# update station's id with name of 'Broadway & Wilson - Truman College Vaccination Site'
filt_f1 = (bt_202102['start_station_name'] == 'Broadway & Wilson - Truman College Vaccination Site')
bt_202102.loc[filt_f1, 'start_station_id'] = 293

filt_f2 = (bt_202102['end_station_name'] == 'Broadway & Wilson - Truman College Vaccination Site')
bt_202102.loc[filt_f2, 'end_station_id'] = 293

In [90]:
# update station's id with name of 'N Carpenter St & W Lake St'
filt_g1 = (bt_202102['end_station_name'] == 'N Carpenter St & W Lake St')
bt_202102.loc[filt_g1, 'end_station_id'] = 1436495105198659246

In [91]:
# update station's id with name of 'Western & 28th - Velasquez Institute Vaccination Site'
filt_h1 = (bt_202102['end_station_name'] == 'Western & 28th - Velasquez Institute Vaccination Site')
bt_202102.loc[filt_h1, 'end_station_id'] = 446

In [92]:
# update station's id with name of 'N Sheffield Ave & W Wellington Ave'
filt_i1 = (bt_202102['end_station_name'] == 'N Sheffield Ave & W Wellington Ave')
bt_202102.loc[filt_i1, 'end_station_id'] = 1436495118083561146

In [93]:
# update station's id with name of 'N Green St & W Lake St'
filt_j1 = (bt_202102['end_station_name'] == 'N Green St & W Lake St')
bt_202102.loc[filt_j1, 'end_station_id'] = 1436495109493626546

<h4 style="color:green;"> (2-12) dataset: bike trips of March 2021 </h4>

In [94]:
bt_202103.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,CFA86D4455AA1030,classic_bike,2021-03-16 08:32:30,2021-03-16 08:36:34,Humboldt Blvd & Armitage Ave,15651,Stave St & Armitage Ave,13266,41.917513,-87.701809,41.917741,-87.691392,casual
1,30D9DC61227D1AF3,classic_bike,2021-03-28 01:26:28,2021-03-28 01:36:55,Humboldt Blvd & Armitage Ave,15651,Central Park Ave & Bloomingdale Ave,18017,41.917513,-87.701809,41.914166,-87.716755,casual
2,846D87A15682A284,classic_bike,2021-03-11 21:17:29,2021-03-11 21:33:53,Shields Ave & 28th Pl,15443,Halsted St & 35th St,TA1308000043,41.842733,-87.635491,41.830661,-87.647172,casual
3,994D05AA75A168F2,classic_bike,2021-03-11 13:26:42,2021-03-11 13:55:41,Winthrop Ave & Lawrence Ave,TA1308000021,Broadway & Sheridan Rd,13323,41.968812,-87.657659,41.952833,-87.649993,casual
4,DF7464FBE92D8308,classic_bike,2021-03-21 09:09:37,2021-03-21 09:27:33,Glenwood Ave & Touhy Ave,525,Chicago Ave & Sheridan Rd,E008,42.012701,-87.666058,42.050491,-87.677821,casual

In [95]:
bt_202103.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [96]:
bt_202103.isna().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name    14848
start_station_id      14848
end_station_name      16727
end_station_id        16727
start_lat                 0
start_lng                 0
end_lat                 167
end_lng                 167
member_casual             0
dtype: int64

In [97]:
# drop all NAN values in bt_202103
bt_202103.dropna(inplace=True)

<h4 style="color:red;"> After examinging the 'start_station_id' column and 'end_station_id' in this dataset, I found the same inconsistency issue between station ids and their corresponding names as before. </h4>
    
<h4 style="color:blue;"> Therefore, I will re-run the whole process of validating station names with corresponding ids as before using: </h4>

- <p style="color:blue;"> the official stations information dataset from Chicago Data Portral website;</p>
- <p style="color:blue;"> the dictionary "station_id" of all stations and ids existed in the previous 8 datasets;</p>
- <p style="color:blue;"> the function "correct_station_name_id" to either update ids or catch exceptions;</p>
- <p style="color:blue;"> the function "get_correct_id" to grab the correct ids for exceptions.</p>

In [98]:
# reset the not_changed list to empty
not_changed = []

# update stations' ids in bt_202103 or catch stations that're not existed from previous 8 datasets
correct_station_name_id(bt_202103)

These stations below are not existed in the previous 8 datasets:

['Halsted & 63rd - Kennedy-King Vaccination Site',
 'Malcolm X College Vaccination Site',
 'N Sheffield Ave & W Wellington Ave',
 'N Carpenter St & W Lake St',
 'Western & 28th - Velasquez Institute Vaccination Site',
 'N Southport Ave & W Newport Ave',
 'W Armitage Ave & N Sheffield Ave',
 'N Paulina St & Lincoln Ave',
 'W Washington Blvd & N Peoria St',
 'Base - 2132 W Hubbard Warehouse',
 'Damen Ave & Wabansia Ave',
 'W Oakdale Ave & N Broadway',
 'N Hampden Ct & W Diversey Ave',
 'Broadway & Wilson - Truman College Vaccination Site',
 'Chicago State University',
 'N Green St & W Lake St',
 'Kedzie Ave & 110th St',
 'N Damen Ave & W Wabansia St']

In [99]:
# get the correct ids of exceptional stations in list not_changed
get_correct_id()

Halsted & 63rd - Kennedy-King Vaccination Site :  388

Malcolm X College Vaccination Site :  631

N Sheffield Ave & W Wellington Ave :  1436495118083561146

N Carpenter St & W Lake St :  1436495105198659246

Western & 28th - Velasquez Institute Vaccination Site :  446

N Southport Ave & W Newport Ave :  1436495115557663136

W Armitage Ave & N Sheffield Ave :  1436495105198659242

N Paulina St & Lincoln Ave :  1436495122378528446

W Washington Blvd & N Peoria St :  1436495109493626544

Damen Ave & Wabansia Ave :  1521686986436309688

W Oakdale Ave & N Broadway :  1436495100903691938

Broadway & Wilson - Truman College Vaccination Site :  293

Chicago State University :  737

N Green St & W Lake St :  1436495109493626546

Kedzie Ave & 110th St :  736

These stations below cannot be found in the official stations information dataset:

['Base - 2132 W Hubbard Warehouse',
 'N Hampden Ct & W Diversey Ave',
 'N Damen Ave & W Wabansia St']

<h4 style="color:red;"> The stations 'Base - 2132 W Hubbard Warehouse', 'N Hampden Ct & W Diversey Ave', and 'N Damen Ave & W Wabansia St' cannot be found in the official station information dataset. Due to lack of information, I will drop these records. </h4>

In [100]:
# drop records with start_station_name as 'Base - 2132 W Hubbard Warehouse'
bt_202103.drop(bt_202103[bt_202103['start_station_name'] == 'Base - 2132 W Hubbard Warehouse'].index, inplace=True)

# drop records with end_station_name as 'Base - 2132 W Hubbard Warehouse'
bt_202103.drop(bt_202103[bt_202103['end_station_name'] == 'Base - 2132 W Hubbard Warehouse'].index, inplace=True)

# drop records with start_station_name as 'N Hampden Ct & W Diversey Ave'
bt_202103.drop(bt_202103[bt_202103['start_station_name'] == 'N Hampden Ct & W Diversey Ave'].index, inplace=True)

# drop records with end_station_name as 'N Hampden Ct & W Diversey Ave'
bt_202103.drop(bt_202103[bt_202103['end_station_name'] == 'N Hampden Ct & W Diversey Ave'].index, inplace=True)

# drop records with start_station_name as 'N Damen Ave & W Wabansia St'
bt_202103.drop(bt_202103[bt_202103['start_station_name'] == 'N Damen Ave & W Wabansia St'].index, inplace=True)

# drop records with end_station_name as 'N Damen Ave & W Wabansia St'
bt_202103.drop(bt_202103[bt_202103['end_station_name'] == 'N Damen Ave & W Wabansia St'].index, inplace=True)

<h4 style="color:blue;"> For the other 15 stations, I will manually update the ids in bt_202102 </h4>

In [101]:
# update station's id with name of 'Broadway & Wilson - Truman College Vaccination Site'
filt_a1 = (bt_202103['start_station_name'] == 'Broadway & Wilson - Truman College Vaccination Site')
bt_202103.loc[filt_a1, 'start_station_id'] = 293

filt_a2 = (bt_202103['end_station_name'] == 'Broadway & Wilson - Truman College Vaccination Site')
bt_202103.loc[filt_a2, 'end_station_id'] = 293

In [102]:
# update station's id with name of 'Damen Ave & Wabansia Ave'
filt_b1 = (bt_202103['start_station_name'] == 'Damen Ave & Wabansia Ave')
bt_202103.loc[filt_b1, 'start_station_id'] = 1521686986436309688

filt_b2 = (bt_202103['end_station_name'] == 'Damen Ave & Wabansia Ave')
bt_202103.loc[filt_b2, 'end_station_id'] = 1521686986436309688

In [103]:
# update station's id with name of 'Western & 28th - Velasquez Institute Vaccination Site'
filt_c1 = (bt_202103['start_station_name'] == 'Western & 28th - Velasquez Institute Vaccination Site')
bt_202103.loc[filt_c1, 'start_station_id'] = 446

filt_c2 = (bt_202103['end_station_name'] == 'Western & 28th - Velasquez Institute Vaccination Site')
bt_202103.loc[filt_c2, 'end_station_id'] = 446

In [104]:
# update station's id with name of 'Chicago State University'
filt_d1 = (bt_202103['start_station_name'] == 'Chicago State University')
bt_202103.loc[filt_d1, 'start_station_id'] = 737

filt_d2 = (bt_202103['end_station_name'] == 'Chicago State University')
bt_202103.loc[filt_d2, 'end_station_id'] = 737

In [105]:
# update station's id with name of 'W Armitage Ave & N Sheffield Ave'
filt_e1 = (bt_202103['start_station_name'] == 'W Armitage Ave & N Sheffield Ave')
bt_202103.loc[filt_e1, 'start_station_id'] = 1436495105198659242

filt_e2 = (bt_202103['end_station_name'] == 'W Armitage Ave & N Sheffield Ave')
bt_202103.loc[filt_e2, 'end_station_id'] = 1436495105198659242

In [106]:
# update station's id with name of 'W Washington Blvd & N Peoria St'
filt_f1 = (bt_202103['start_station_name'] == 'W Washington Blvd & N Peoria St')
bt_202103.loc[filt_f1, 'start_station_id'] = 1436495109493626544

filt_f2 = (bt_202103['end_station_name'] == 'W Washington Blvd & N Peoria St')
bt_202103.loc[filt_f2, 'end_station_id'] = 1436495109493626544

In [107]:
# update station's id with name of 'N Paulina St & Lincoln Ave'
filt_g1 = (bt_202103['start_station_name'] == 'N Paulina St & Lincoln Ave')
bt_202103.loc[filt_g1, 'start_station_id'] = 1436495122378528446
              
filt_g2 = (bt_202103['end_station_name'] == 'N Paulina St & Lincoln Ave')
bt_202103.loc[filt_g2, 'end_station_id'] = 1436495122378528446

In [108]:
# update station's id with name of 'Halsted & 63rd - Kennedy-King Vaccination Site'
filt_h1 = (bt_202103['start_station_name'] == 'Halsted & 63rd - Kennedy-King Vaccination Site')
bt_202103.loc[filt_h1, 'start_station_id'] = 388

filt_h2 = (bt_202103['end_station_name'] == 'Halsted & 63rd - Kennedy-King Vaccination Site')
bt_202103.loc[filt_h2, 'end_station_id'] = 388

In [109]:
# update station's id with name of 'Kedzie Ave & 110th St'
filt_i1 = (bt_202103['start_station_name'] == 'Kedzie Ave & 110th St')
bt_202103.loc[filt_i1, 'start_station_id'] = 736

filt_i2 = (bt_202103['end_station_name'] == 'Kedzie Ave & 110th St')
bt_202103.loc[filt_i2, 'end_station_id'] = 736

In [110]:
# update station's id with name of 'N Carpenter St & W Lake St'
filt_j1 = (bt_202103['start_station_name'] == 'N Carpenter St & W Lake St')
bt_202103.loc[filt_j1, 'start_station_id'] = 1436495105198659246

filt_j2 = (bt_202103['end_station_name'] == 'N Carpenter St & W Lake St')
bt_202103.loc[filt_j2, 'end_station_id'] = 1436495105198659246

In [111]:
# update station's id with name of 'Malcolm X College Vaccination Site'
filt_k1 = (bt_202103['start_station_name'] == 'Malcolm X College Vaccination Site')
bt_202103.loc[filt_k1, 'start_station_id'] = 631

filt_k2 = (bt_202103['end_station_name'] == 'Malcolm X College Vaccination Site')
bt_202103.loc[filt_k2, 'end_station_id'] = 631

In [112]:
# update station's id with name of 'N Sheffield Ave & W Wellington Ave'
filt_l1 = (bt_202103['start_station_name'] == 'N Sheffield Ave & W Wellington Ave')
bt_202103.loc[filt_l1, 'start_station_id'] = 1436495118083561146

filt_l2 = (bt_202103['end_station_name'] == 'N Sheffield Ave & W Wellington Ave')
bt_202103.loc[filt_l2, 'end_station_id'] = 1436495118083561146

In [113]:
# update station's id with name of 'W Oakdale Ave & N Broadway'
filt_m1 = (bt_202103['start_station_name'] == 'W Oakdale Ave & N Broadway')
bt_202103.loc[filt_m1, 'start_station_id'] = 1436495100903691938

filt_m2 = (bt_202103['end_station_name'] == 'W Oakdale Ave & N Broadway')
bt_202103.loc[filt_m2, 'end_station_id'] = 1436495100903691938

In [114]:
# update station's id with name of 'N Southport Ave & W Newport Ave'
filt_n1 = (bt_202103['start_station_name'] == 'N Southport Ave & W Newport Ave')
bt_202103.loc[filt_n1, 'start_station_id'] = 1436495115557663136

filt_n2 = (bt_202103['end_station_name'] == 'N Southport Ave & W Newport Ave')
bt_202103.loc[filt_n2, 'end_station_id'] = 1436495115557663136

In [115]:
# update station's id with name of 'N Green St & W Lake St'
filt_o1 = (bt_202103['start_station_name'] == 'N Green St & W Lake St')
bt_202103.loc[filt_o1, 'start_station_id'] = 1436495109493626546

filt_o2 = (bt_202103['end_station_name'] == 'N Green St & W Lake St')
bt_202103.loc[filt_o2, 'end_station_id'] = 1436495109493626546

### 3. Save cleaned datasets

In [116]:
bt_202004.to_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/cleaned_datasets/bt_202004.csv', index=False)
bt_202005.to_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/cleaned_datasets/bt_202005.csv', index=False)
bt_202006.to_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/cleaned_datasets/bt_202006.csv', index=False)
bt_202007.to_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/cleaned_datasets/bt_202007.csv', index=False)
bt_202008.to_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/cleaned_datasets/bt_202008.csv', index=False)
bt_202009.to_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/cleaned_datasets/bt_202009.csv', index=False)
bt_202010.to_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/cleaned_datasets/bt_202010.csv', index=False)
bt_202011.to_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/cleaned_datasets/bt_202011.csv', index=False)
bt_202012.to_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/cleaned_datasets/bt_202012.csv', index=False)
bt_202101.to_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/cleaned_datasets/bt_202101.csv', index=False)
bt_202102.to_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/cleaned_datasets/bt_202102.csv', index=False)
bt_202103.to_csv('/home/eemonte/00_PROJECTS/cs_1_bike_share/cleaned_datasets/bt_202103.csv', index=False)